[2012-10-11 12:14] irabinovitch opened #1 "Linux Pro Magazine Ads - Due Nov 7"
Trim: 210mm x 297mm
Bleed: 216mm x 303mm
File format: Please only send closed (non-editable) files as high-resolution PDFs,
compatible with Acrobat 4 (i.e., PDF 1.3). The files should comply with the
PDF/X standard.

Send materials to: materials@linuxpromagazine.com.

[2012-10-11 12:24] irabinovitch opened #2 "Linux Journal Ads - November 15th"
Ad specs:
http://www.linuxjournal.com/advertising/specs

Full page (trim size): 8–1/8" x 10–7/8" (8.125" x 10.875")
Full page: 7" x 10" (7.0" x 10.0")

Publication Specifications
Trim Size: 8-1/8" x 10-7/8"
Bleed Matter: At least 1/8" beyond trim on all sides.
Bleed: Bleeds are allowed on all ad sizes other than 1/4 page or Marketplace.

Electronic File Specifications and Formats
Colors may be CMY

[2012-12-10 03:31] irabinovitch opened #3 "Add featured speaker block"
We'd like to create a "featured speakers" block to the home page so we can feature speaker headshots for keynoters and other high profile sessions.

Something like the SCALE 5x homepage:
http://socallinuxexpo.org/scale5x/

[2012-12-10 03:32] irabinovitch opened #4 "create sponsors and exhibitors pages"
Create links off the home page to a list of sponsors and exhibitors.

[2012-12-10 03:34] irabinovitch opened #5 "rotate logos in sponsor side bar"
If the number of sponsors for  given category exceeds the number we can display we would like to rotate through them.  This can be done either on each page load, or with them scrolling as they did last year.

[2012-12-10 03:35] #2 closed, assigned to rgolan

[2012-12-10 03:35] #1 closed, assigned to rgolan

[2012-12-10 03:36] irabinovitch opened #6 "add image to home page sticky entry"
I was trying to include this image in the sticky entry on the home page, but I can't get the alignment right. Any ideas?
![SCALE11x.png](https://f.cloud.github.com/assets/289654/2886/be9b7314-427a-11e2-9336-b3c69ff19c87.png)

[2012-12-10 03:36] irabinovitch opened #7 "approve matthew garrett's keynote presentation"
approve matthew garrett's keynote presentation so we can link to it from the featured speakers section and home page text.

[2012-12-10 03:39] irabinovitch opened #8 "create report for viewing CFP scores"
Shyam will need an easy way to sort by scores so we can figure out the program after the CFP closes.

[2012-12-10 03:41] irabinovitch opened #9 "feed for approved exhibitors"
Last year we had an xml feed of exhibitors that had been posted so that we could auto post it to twitter/identica/facebook

http://www.socallinuxexpo.org/scale10x/exhibitors.xml

Can we set something similar up?

[2012-12-10 03:45] irabinovitch opened #10 "remove old splash page"
remove the static splash page at www.socallinuxexpo.org/scale11x/ and replace with the drupal content

[2012-12-10 08:01] #5 closed, assigned to rgolan

[2012-12-10 08:27] irabinovitch opened #11 "access to create speakers/presentations"
We need to create some sessions / speakers for SCALE U.  Can I get access to create those content types?

[2012-12-10 09:56] irabinovitch opened #12 "create 125x125 buttons for marketing scale"
@ScislaC  Can we create a 125x125 button for SCALE showing the dates?  I've been using this image cropped down from the SCALE Print Ads.   The only change I think would be nice is to include the dates.

![SCALE11x.png](https://f.cloud.github.com/assets/289654/3198/c2d1b594-42af-11e2-957b-e9d3ea531eb4.png)

[2012-12-10 19:31] itdirector opened #13 "LISA handout: flyer"
i have a basic SCaLE flyer and don't want to forget github. where shall i put it?

[2012-12-15 20:33] irabinovitch opened #14 "allow sorting of CFP papers by track"
It would be helpful to allow sorting of CFP papers by track so that we can easily see what proposals across full track are.

[2012-12-15 20:34] irabinovitch opened #15 "remove speakers I've vote on from the all papers view"
remove sessions I've vote on from the all papers view since they're located in the view showing my votes.

[2012-12-15 20:35] irabinovitch opened #16 "allow export of presentation list"
Can we made it possible to download a CSV of all the proposals?

[2012-12-15 20:36] irabinovitch opened #17 "speaker contact info"
Shyam and other track organizers will need to be able to contact speakers.  How can we expose email address to their? Currently their speaker page does not make that visible.

[2012-12-15 20:43] irabinovitch opened #18 "Add sponsorship and exhibitor contact info to the website"
Can we add something along the following to the sponsors and exhibitors pages like we've had in previous years?

If your organization is interested in sponsoring SCALE, please contact us via telephone or e-mail.
For pricing information please contact us:

Ilan Rabinovitch
sponsorship@socallinuxexpo.org
818-442-1865 Voice

[2012-12-15 21:03] #13 closed, assigned to nobody

[2012-12-15 21:10] #17 closed, assigned to rgolan

[2012-12-15 21:29] #11 closed, assigned to rgolan

[2012-12-16 01:37] #4 closed, assigned to rgolan

[2012-12-17 03:06] #10 closed, assigned to rgolan

[2012-12-17 05:16] irabinovitch opened #19 "add social media buttons to website"
Lets add social media buttons back to the website similar to the ones we had last year.  You can see them in the side bar at:
http://www.socallinuxexpo.org/scale10x/

Twitter: https://twitter.com/socallinuxexpo
Identica: http://identi.ca/socallinuxexpo
G+: https://plus.google.com/117542657599667543533/posts
Facebook: https://www.facebook.com/events/527506003945629/?fref=ts

No need to do linkedin

[2012-12-19 03:54] #15 closed, assigned to rgolan

[2012-12-19 03:54] #14 closed, assigned to rgolan

[2012-12-20 05:53] irabinovitch opened #20 "WHIR - January Ad"
Hey Josh,

I know its rather late, but any chance we can put together an ad for WHIR? They've offered us some space for their Jan 9 deadline
#

need artwork by January 9th, 2013. This is a special size issue because it is our Annual Web Hosting Directory issue. See specs below:

FULL PAGE DISPLAY AD
Bleed Size: 6.875” X 9.625”
Trim Size: 6.625” X 9.375”
Live Area: 6.125” X 8.875”
(0.125” bleed on

[2012-12-21 05:29] #9 closed, assigned to rgolan

[2012-12-24 08:22] #8 closed, assigned to rgolan

[2012-12-24 08:23] #7 closed, assigned to rgolan

[2012-12-25 07:40] #19 closed, assigned to nobody

[2012-12-27 20:29] #18 closed, assigned to rgolan

[2012-12-27 20:31] irabinovitch opened #21 "remove cfp post from home page"
Since the CFP is closed can we remove the the cfp text from the front page?

Thanks,
Ilan

[2012-12-27 20:32] irabinovitch opened #22 "Welcome post is cut off"
The top entry on the home page is cut off.  To see the full text one must click "read more"

[2012-12-28 18:40] #22 closed, assigned to rgolan

[2012-12-28 18:48] #21 closed, assigned to rgolan

[2013-01-02 02:30] irabinovitch opened #23 "setup google analytics"
Can we setup google analytics again for the scale 11x site?  Our account is UA-26986159-1.

[2013-01-02 02:31] irabinovitch opened #24 "create session schedule page"
With the CFP closed we'll be starting the set the speaker schedule the next week or two.  We should get ready to be able to schedule events/presentations in rooms.

[2013-01-03 20:36] irabinovitch opened #25 "Mug Design for SCALE 11x"
From Bala:

We're working on producing mugs for SCALE attendees.  Here is the mug itself.  One side will include a DreamHost logo (provided already).  The front side would be something SCALE themed.  Possibly tux with a guitar again? Other ideas?  "SCALE 11x: Turning Open Source Up to 11" is our tag line/theme so we could include that underneath the drawing.

AI/Vector, with an imprint area of 2.5

[2013-01-04 03:09] #20 closed, assigned to ScislaC

[2013-01-06 20:29] irabinovitch opened #26 "promo items page"
Hi Ron,

Can we add the promo-it content type and page again?
We have some small banners Josh made for us in #12  and likely some flyers coming soon.
Would be great to post them.

Thanks!
Ilan

[2013-01-06 21:33] irabinovitch opened #27 "add approval workflow for blog posts"
Can we add the approval workflow for blog posts as well?

[2013-01-07 10:29] #27 closed, assigned to rgolan

[2013-01-07 10:31] irabinovitch opened #28 "New topic categories for SCALE Sessions"
- NodeStack
- File System
- OpenNMS
- Puppet

[2013-01-10 12:55] #3 closed, assigned to rgolan

[2013-01-12 22:05] #28 closed, assigned to rgolan

[2013-01-12 22:06] irabinovitch opened #29 "Allow Multiple Sponsors for an Event"
I believe in the past we the sponsor selection for special events allowed selecting multiple sponsors.  This year we have a drop down menu so I can only select one.

[2013-01-13 00:16] irabinovitch opened #30 "create schedule page"
We're ready to publish schedules.

[2013-01-13 00:16] irabinovitch opened #31 "allow assignment of sessions to rooms / timeslots"
allow assignment of presentations to rooms / timeslots

[2013-01-13 00:17] irabinovitch opened #32 "create an xml feed for the schedule"
create an xml feed for the schedule so we can use them for digital displays.

[2013-01-14 03:30] irabinovitch opened #33 "Create media section on SCALE website"
In past year's we've had a media section on the site where we included information on how to register as press, post press releases, etc. Can we set this up again? Thanks.

[2013-01-17 14:51] #23 closed, assigned to rgolan

[2013-01-17 14:52] #31 closed, assigned to nobody

[2013-01-17 14:52] #16 closed, assigned to rgolan

[2013-01-20 02:11] irabinovitch opened #34 "Finalize T-shirt designs"
We need to finalize the t-shirt designs for scale 11x so we can get quotes and start sending them off to print.

[2013-01-25 09:39] #29 closed, assigned to rgolan

[2013-01-28 01:32] irabinovitch opened #35 "add session times to presentation pages"
Can we add times to the presentation pages?

[2013-01-28 07:45] #35 closed, assigned to rgolan

[2013-01-28 21:51] hriday opened #36 "Badge Design : Art specs provided"
The badge is 4" w x 3" h (each badge), and the stock size is the
usual. They want the graphics in .ai or .eps, vector graphics formats.

This is the badge we usually get :

http://www.pcnametag.com/4-x-3-classic-paper-name-tag-insert-blank-package-of-500-item-n6lppwb

The art only needs to be on the bottom right insert. The remaining 5 inserts of the sheet will be blank. Remember, the art needs to

[2013-01-30 10:17] irabinovitch opened #37 "full html in blog post content type"
We are trying to embed some youtube videos in blog posts and not having much luck.  It seems to work in the WYSIWYG form but not once we save.  Would enabling full html fix this?

https://www.socallinuxexpo.org/node/458/edit

[2013-02-01 09:44] #37 closed, assigned to rgolan

[2013-02-01 09:47] #25 closed, assigned to nobody

[2013-02-01 09:49] #24 closed, assigned to rgolan

[2013-02-01 09:50] irabinovitch opened #38 "SCALE Program Layout"
Layout program and submit to printer

[2013-02-01 09:50] irabinovitch opened #39 "Collect ads from Sponsors for Program"
Collect ads from Sponsors for Program

[2013-02-06 05:55] irabinovitch opened #40 "export exhibitors in csv"
Can we export our exhibitors in csv with these fields?

Name,Description

Thanks,
Ilan

[2013-02-06 05:59] irabinovitch opened #41 "export schedule in CSV"
Can we get an export of the schedule with the following format?

Speaker Name,Session Title,Date,Time Start,Time End,Room/Location,Topic,Short Abstract

[2013-02-08 07:42] irabinovitch opened #42 "Booth # on exhibitor pages"
On exhibitor pages currently the booth number shows up under the description.  Can we add "Booth Number" in bold in front of it?  Currently its unclear what the number is for.

[2013-02-09 23:20] #41 closed, assigned to rgolan

[2013-02-12 01:11] irabinovitch opened #43 "Add San Lorezno F back to schedule"
We've added workshops in San Lorenzo F on Saturday/Sunday.

[2013-02-12 03:48] #43 closed, assigned to rgolan

[2013-02-12 05:18] garethgreenaway opened #44 "Enable San Lorenzo E For Saturday"
Enable San Lorenzo E in the schedule for Saturday

[2013-02-13 06:37] #44 closed, assigned to nobody

[2013-02-13 06:38] irabinovitch opened #45 "create video page"
Can we create a similar page to socallinuxexpo.org/scale10x/video on the 11x site.
We'll want to have it link to a page for each of the rooms on the schedule that I can add  javascript/html embed to for the video of that room.

[2013-02-13 06:40] irabinovitch opened #46 "add video field to sessions"
After SCALE we'll want to be able to add video and audio recordings to each page.
Can we add a field for copy/pasting in the html/js for embedding these to each presentation?  If one isn't provided, the view should hid the field.

[2013-02-13 17:22] garethgreenaway opened #47 "Artwork for FOSS Tours Stickers"
Wanted to get some stickers for the attendees of the FOSS tours.  Here is an idea I cam up with for it.  It needs to be added to the following EPS in an EPS format.  Thanks.

https://dl.dropbox.com/u/40455/SCALE/11x/tours/3x3-square-sticker-template.eps

https://dl.dropbox.com/u/40455/SCALE/11x/tours/foss-tours-sticker.png

Ping with questions.

[2013-02-13 22:40] garethgreenaway opened #48 "Add Expo "room" to schedule"
Add Expo "room" to schedule

[2013-02-14 08:54] #48 closed, assigned to nobody

[2013-02-14 08:56] #40 closed, assigned to rgolan

[2013-02-14 08:57] #39 closed, assigned to irabinovitch

[2013-02-14 08:58] #36 closed, assigned to hamanakam1

[2013-02-14 09:01] #34 closed, assigned to nobody

[2013-02-14 09:02] #32 closed, assigned to rgolan

[2013-02-14 09:02] #33 closed, assigned to rgolan

[2013-02-14 09:02] #12 closed, assigned to rgolan

[2013-02-14 20:48] #47 closed, assigned to nobody

[2013-02-14 22:42] garethgreenaway opened #49 "Game Night listed multiple times in XML"
The game night is currently listed in all the rooms for Saturday night, this is causing it to be listed multiple times in the XML.  This is causing a weird case with the sign software.  Can we list in just one room or fix the multiple listings?

[2013-02-15 00:48] #49 closed, assigned to nobody

[2013-02-18 16:17] garethgreenaway opened #50 "Add Plaza Ballroom to schedule"
Add Plaza Ballroom to schedule

[2013-02-18 16:19] garethgreenaway opened #51 "Add Topic for BoFs"
Need to begin adding the BoFs into the system so they are visible on both the web site as well as the digital signs.  Can we add a topic type for those?

[2013-02-18 17:55] #50 closed, assigned to nobody

[2013-02-18 17:56] #51 closed, assigned to nobody

[2013-02-18 22:16] garethgreenaway opened #52 "Topic Type for Game Night & Weakest Geek"
Can we add a topic type for Game Night & Weakest Geek so that it shows in the XML for the signs? Thanks.

[2013-02-19 01:45] #52 closed, assigned to nobody

[2013-02-19 21:58] irabinovitch opened #53 "Mysql not displaying on home page"
I can't seem to make the MySQL logo show up on the home page.  They are listed as a silver sponsor everywhere else.

https://www.socallinuxexpo.org/scale11x/sponsors/mysql

[2013-02-27 08:19] irabinovitch opened #54 "add mature flag to presentations"
Please add a check box during the presentation submission process that identifies whether a session is for Mature Audiences or All Ages.   This should be a required field, and should not have a default value.

[2013-02-27 17:19] garethgreenaway opened #55 "add twitter & identi.ca option for CFP"
Add an option for speakers to include their twitter and/or identi.ca accounts when they create a speaker account.  Would be something we could publish to various places upon acceptance.

[2013-03-02 01:54] irabinovitch opened #56 "Add Video and Audio fields to presentation content type"
Please add Video and Audio fields to presentation content type.  This will allow us to embed video links in the presentation pages as they become available.

The fields should only display on the public view if they have content.

[2013-03-30 18:59] #56 closed, assigned to rgolan

[2013-04-14 22:02] #53 closed, assigned to nobody

[2013-04-14 22:02] #30 closed, assigned to rgolan

[2013-04-14 22:41] garethgreenaway opened #57 "Artwork for SCALE github account."
Added a logo for the SCALE github account.

[2013-05-12 05:25] irabinovitch opened #58 "create 2014 landing page"
Work with @ScislaC  and @rgolan  to create a SCALE 12x landing page.

[2013-09-14 21:07] irabinovitch opened #59 "cfp registration link missing"
Add a registration link to CFP page so new users can create accounts.

[2013-09-15 17:17] #38 closed, assigned to nobody

[2013-09-15 17:25] irabinovitch opened #60 "update social media links on 12x site"
G+: https://plus.google.com/events/cptuntbngrna3b76rvrth56n5eg
FB: https://www.facebook.com/events/375736625863344/?context=create
Lanyard: http://lanyrd.com/2014/socallinuxexpo/

[2013-09-15 17:26] irabinovitch opened #61 "title on SCALE12x pageas says SCALE 11x"
title on SCALE12x pageas says SCALE 11x

[2013-09-15 17:42] #60 closed, assigned to rgolan

[2013-09-15 18:55] #61 closed, assigned to rgolan

[2013-09-15 22:02] #59 closed, assigned to irabinovitch

[2013-09-15 22:09] #54 closed, assigned to rgolan

[2013-09-18 17:18] #58 closed, assigned to nobody

[2013-09-18 17:20] irabinovitch opened #62 "add filter for year to presentation list"
Can we add an event or year filter to the presentation list in the cfp review? Now that we have multiple years in the DB it is difficult to see which presentations are newly submitted for SCALE 12x.

[2013-09-19 19:39] irabinovitch opened #63 "add scale-announce form to website."
Can we add the scale-announce form back like we had at 9x?

![newsletter-form](https://f.cloud.github.com/assets/289654/1175973/29123350-2163-11e3-9f70-6ecf36a74e90.png)

[2013-09-21 19:25] #63 closed, assigned to rgolan

[2013-09-21 19:25] #62 closed, assigned to rgolan

[2013-10-12 22:46] irabinovitch opened #64 "Featured Speaker"
I'm trying to add Bredann Gregg as a  a featured speaker, but the content type doesn't seem to work how I remember it. Can you help take a look?

[2013-10-12 22:47] irabinovitch opened #65 "clicking a speaker name takes you to the 11x page"
Also if you click his name it takes you to his 11x bio.

Repro:
1) Open https://www.socallinuxexpo.org/scale12x/presentations/what-linux-can-learn-solaris-performance-and-vice-versa
2) Notice speaker name link goes to 11x url rather than 12x url: https://www.socallinuxexpo.org/scale11x/speakers/brendan-gregg

The corresponding 12x url 404s.
https://www.socallinuxexpo.org/scale12x/speakers/brendan-

[2013-11-07 14:37] irabinovitch opened #66 "should presentation filter page be public?"
Should this page be public?

https://www.socallinuxexpo.org/presentation-filter

[2013-11-09 23:58] irabinovitch opened #67 "Linux Journal Full Page Ad"
Linux Journal Full Page Ad
http://www.linuxjournal.com/advertising/specs

Due: 12/15

[2013-11-09 23:59] irabinovitch opened #68 "linux journal banner ad"
Linux Journal has offered to let us run a banner ad on their site: 728X90

[2013-11-20 00:04] #66 closed, assigned to rgolan

[2013-11-23 21:21] irabinovitch opened #69 "create sponsors and exhibitors views"
We're starting to build a good list of sponsors and exhibitors for 12x.  Can we add a sponsors and exhibitors view similar to the one we had for 11x?

rss feeds for each would be great as well.

[2013-11-26 09:42] irabinovitch opened #70 "create special events views"
We're starting to add special events to the 12x site. Can we re-enable the special event index page?

[2013-12-08 21:38] irabinovitch opened #71 "Add SCALE Year filter to voting pages"
We'll be starting to vote on sessions this week. It would be helpful to be able to filter the list by year.

[2013-12-09 08:36] irabinovitch opened #72 "set due dates and specs for program artwork"
We need to set due dates and specs to  share with sponsors for their program art work.

[2013-12-14 20:38] #71 closed, assigned to rgolan

[2013-12-15 18:17] #64 closed, assigned to rgolan

[2013-12-16 04:26] #67 closed, assigned to ScislaC

[2013-12-21 06:34] irabinovitch opened #73 "scale 11x speaker pages no longer load"
http://www.socallinuxexpo.org/scale11x/speakers/ruth-suehle

[2013-12-23 09:34] #73 closed, assigned to nobody

[2013-12-23 10:10] #42 closed, assigned to rgolan

[2013-12-30 21:27] #65 closed, assigned to rgolan

[2014-01-02 00:28] irabinovitch opened #74 "sessions with multiple speakers are appearing more than once"
Eg the coffee script session is currently listed three times.
http://www.socallinuxexpo.org/scale12x/presentations

[2014-01-02 00:48] garethgreenaway opened #75 "presentation-votes doesn't have TNG topic"
There are a number of talks with the topic of TNG but unfortunately I can't sort by that topic.  Can we can The Next Generation to one of the available topics to sort on.

[2014-01-02 06:23] irabinovitch opened #76 "increase max size for presentation files"
At the moment we only allow presentations up to 2MB.  Can we increase to 10MB or 20MB? We've run into issues with some larger slide decks.

[2014-01-02 16:55] garethgreenaway opened #77 "SCALE 12x TShirt Design"
We need the design and artwork for the SCALE 12x t-shirt

[2014-01-02 19:03] garethgreenaway opened #78 "Dates on web site"
Can we post the dates for SCALE 12 a little more prominently on the web site?

[2014-01-03 04:12] #76 closed, assigned to rgolan

[2014-01-03 04:27] #75 closed, assigned to rgolan

[2014-01-06 10:28] #74 closed, assigned to nobody

[2014-01-06 22:44] irabinovitch opened #79 "Youtube Channel Artwork"
Do we have anything we can use for artwork on on youtube channel? Currently it is using a fairly small image of troy that pixelates a bit.

Info from youtube on size, format, etc:

https://support.google.com/youtube/answer/2972003?topic=16630&ctx=topic&hl=en

Recommended channel art size: 2560 x 1440
Max file size: 2 MB

Definitely not high priority, compared to anything SCALE 12x specific - but w

[2014-01-09 20:08] irabinovitch opened #80 "schedule on website"
Shyam and others will be locking down our schedules in the next few days.  Are we ready to accept schedule input on the site? Are any changes required from last year?

[2014-01-11 07:12] irabinovitch opened #81 "125 x 125 button"
We need a 125x125 web button to send our speakers and various websites who have offered to promote scale.

[2014-01-11 07:19] irabinovitch opened #82 "Badge Design"
Ticket to track the SCALE 12x badge design.

Notes:

Each SCALE badge is 4" x 3". However it is printed a full 8.5x11 in
order to allow us to include show information, a receipt, and other data
on the materials we hand each attendee. (see
http://www.fonz.net/badges/TXLF-2010-badgesample.png)

In terms of artwork our main focus should be on the 4" x 3" section that
displays the attendee name and in

[2014-01-11 07:25] irabinovitch opened #83 "Mug Design"
We have  a few sponsors who have generously offered to sponsor a Mug for SCALE 12x!

We need to put together some artwork for SCALE's side of the Mug.  The sponsor will provide their logo for the other side.  Here is an example from SCALE 11x:

http://8422a39f482efed2e7c5-4166c4686386c34f2e96bab77f931539.r41.cf1.rackcdn.com/DM930909_1359583341_DM930909.pdf

The logo should be 2.5”W x 1.25”H

The m

[2014-01-12 00:05] irabinovitch opened #84 "add youtube subscribe button to social media side bar."
image: https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png

link: https://www.youtube.com/socallinuxexpo?sub_confirmation=1

[2014-01-12 20:35] #78 closed, assigned to rgolan

[2014-01-14 05:26] irabinovitch opened #85 "export presentations and status as CSV"
In ticket #16  we setup CSV export.  Unfortunately that no longer appears to work.  We need the info to be able to send out rejection notices.

[2014-01-14 20:31] #85 closed, assigned to rgolan

[2014-01-14 20:32] irabinovitch opened #86 "WHIR Ad."
From The Whir:

I can offer you a half page horizontal ad in our annual directory.
I need ads by January 24th.

Here are the specs on the last page to the end
http://www.thewhir.com/wp-content/uploads/2014/01/WHIR_HottestHosts_SellShe
et_2014.pdf

[2014-01-16 04:38] garethgreenaway opened #87 "144x32 Logo"
Need a 144x32 SCALE logo to use on http://photos.socallinuxexpo.org/

[2014-01-16 23:19] #87 closed, assigned to nobody

[2014-01-20 12:38] hriday opened #88 "Bag Art"
We are trying to get the same bag as last yeah, in royal blue. They want the art in black, on a transparent background, pdf format. It's the same as last year.

[2014-01-22 18:29] garethgreenaway opened #89 "Tech Shirt Art"
Need a very simple design for the shirts that the tech team will be wearing this year.  The shirts will be safety orange (https://www.ssactivewear.com/ShopNow/Item.aspx?ID=39&ColorStyleID=0) and will have the SCALE wireless password printed on them.  A simple SCALE penguin with "WiFi Password: drowssap" on the front and then "TECH TEAM" in block letters on the back.  Both will be printed in black

[2014-01-23 19:13] #86 closed, assigned to ScislaC

[2014-01-25 21:59] #84 closed, assigned to rgolan

[2014-01-25 21:59] irabinovitch opened #90 "add schedule link to top menu"
Please add the schedule links to top menu.

[2014-01-25 22:00] garethgreenaway opened #91 "Additional Session Types"
Can we include some additional session types.  One for "Coder's Corner" and another for "FOSS Camp".  These will be used to classify sessions in the schedule. Thanks.

[2014-01-27 03:54] garethgreenaway opened #92 "Enable http://www.socallinuxexpo.org/scale12x/sign.xml"
Enable http://www.socallinuxexpo.org/scale12x/sign.xml for use with sign software.

[2014-01-30 20:18] irabinovitch opened #93 "Design template for signs"
We need to design the background that will be used for our signs at SCALE.
They will be printed on  18x24 foam core or gator board and placed on easels.

There are no restrictions on number of colors.  The template should have room for us to place an arrow if needed, text describing to room or event we are directing to, and finally 1-3 sponsor logos.

Example signs from 2012 are available here:
ht

[2014-02-01 04:23] garethgreenaway opened #94 "Hilton Map for digital signs"
Looking at ways to include a map of the hotel on the digital signs this year.  I was thinking something that looked like a subway map could look cool.  Showing the stops as the rooms we'll have sessions in.

Here is an example of one:
http://www.bbc.co.uk/london/travel/downloads/tube_map.gif

And the maps of the 3 floor of the hotel we utilize:
https://dl.dropboxusercontent.com/u/40455/SCALE/Hilto

[2014-02-02 05:30] #90 closed, assigned to rgolan

[2014-02-02 05:30] irabinovitch opened #95 "fix date on schedule"
Friday schedule shows 2013 date at top:

http://www.socallinuxexpo.org/scale12x/schedule/friday

[2014-02-03 18:41] hamanakam1 opened #96 "Any other misc. design tasks?"
I am looking for more design tasks to volunteer on, is anyone interested in having me work on anything?

[2014-02-03 18:46] ScislaC opened #97 "Stickers"
Bala needs to order stickers.

The template is at: http://www.stickermule.com/templates/sticker-sheets

He notes: "Any scale art you want to showcase. I like 4-5 stickers in a sheet. Preferable different stickers. Each attendee gets a sheet."

I am unsure of the template size offhand (since there are two at that link) or if there are any limitations on color.

[2014-02-03 21:05] #81 closed, assigned to ScislaC

[2014-02-03 23:34] #96 closed, assigned to nobody

[2014-02-10 00:28] garethgreenaway opened #98 "Enable / Disable Rooms in Schedule"
Ticket to track enabling and disabling of rooms in the online schedule.

[2014-02-17 21:41] irabinovitch opened #99 "artwork for guidebook"
Any suggestions on which artwork to use for our guidebook app? I'm using our 125x125 button for the "guide icon", but I haven't found anything thats a good fit for the "Guide Cover Image" because the icon overlaps with it.

specs:
https://support.guidebook.com/entries/22990087-Guide-Image-Specifications

[2014-02-18 01:11] #99 closed, assigned to nobody

[2014-05-04 02:33] irabinovitch opened #100 "initial scale13x site mockups"
create a mock up or design for the new SCALE 13x site.

[2014-05-04 03:16] irabinovitch opened #101 "Add Accept/Reject status to CFP submissions"
We would like to automate the accept/reject process in the call for papers.  To do this we would like to add an accept/reject/waitlist field to each session.

On acceptance/rejection an automated email can be sent to the speaker and primary contact.  Rejections would have an optional field for explaining why and providing feedback.

[2014-05-04 03:17] irabinovitch opened #102 "Prep CFP announcement for launch first week of July"
Prep CFP announcement for launch first week of July

[2014-08-23 00:23] #68 closed, assigned to ScislaC

[2014-08-23 00:24] #77 closed, assigned to ScislaC

[2014-08-23 00:24] #83 closed, assigned to nobody

[2014-08-23 00:25] #82 closed, assigned to nobody

[2014-08-23 00:25] #88 closed, assigned to nobody

[2014-08-23 00:25] #89 closed, assigned to ScislaC

[2014-08-23 00:25] #93 closed, assigned to hamanakam1

[2014-08-23 00:26] #98 closed, assigned to rgolan

[2014-08-23 00:26] #97 closed, assigned to nobody

[2014-08-23 00:27] #95 closed, assigned to rgolan

[2014-08-23 00:27] #72 closed, assigned to ScislaC

[2014-08-23 00:29] #6 closed, assigned to rgolan

[2014-08-23 00:54] #91 closed, assigned to rgolan

[2014-08-23 00:55] #80 closed, assigned to rgolan

[2014-08-23 01:09] #102 closed, assigned to nobody

[2014-08-23 01:25] ScislaC opened #103 "Stickers for 13x"
Assuming it's the same vendor and size as last year, this is the template:
http://www.stickermule.com/templates/sticker-sheets

[2014-08-23 01:27] ScislaC opened #104 "Mugs for 13x"
@hriday Please let us know specs once you've decided closer to the event.

[2014-08-23 01:29] ScislaC opened #105 "Attendee shirts for 13x"
Create front and back designs for T-shirts. Any special requirements will be known closer to the event.

[2014-08-23 01:32] ScislaC opened #106 "Bag art for 13x"
@hriday If we're going with a different bag for 13x, please let me know the specs when you are aware of them.

[2014-08-23 11:00] #45 closed, assigned to rgolan

[2014-10-06 14:00] irabinovitch opened #107 "Ads for SCALE 13x"
Just got the ad deadlines for LPM. Working on getting the specs now.  I realize the Oct 13th deadline is tight so we'll probably need to skip that one.

ADMIN
Jan/Feb
Art due: Nov 19

LPM
December
Art due: Oct 8 (we can extend this to Oct 13 if you need more time)

January
Art due: Nov 5

[2014-10-06 14:05] irabinovitch opened #108 "SCALE 13x Banner ads for LPM"
We can include ads in the following formats for their rotation:
 728x90, 300x250 and/or 160x600, static or animated

We can likely re-use these for other sites tool

[2014-10-17 21:15] irabinovitch opened #109 "due dates for program guide"
@ScislaC  Lets the dates and specs for the program this year so we can get them out to sponsors. Thanks.

[2014-10-30 09:53] irabinovitch opened #110 "enable sponsors and exhibitors pages in 13x site"
Can we add these to the menu?

FYI @rgolan

[2014-12-04 00:44] #107 closed, assigned to nobody

[2015-01-06 22:24] garethgreenaway opened #111 "New twitter photo for SCALE 13x."
Twitter photo for socallinuxexpo account needs updating for SCALE 13x along with the 13x dates.

[2015-01-07 02:54] ScislaC commented on #106
![bag2](https://cloud.githubusercontent.com/assets/1201009/5640056/5f2b53e4-95d5-11e4-9178-a1f2416ed2d7.png)

I will be working on simplifying the coins in the pot of gold at the end of the rainbow... but here's where it stands currently.

[2015-01-07 06:48] ScislaC commented on #111
Here's an updated avatar with newer dates...
![twitter-avatar](https://cloud.githubusercontent.com/assets/1201009/5641932/1e709b22-95f6-11e4-9ddc-218321a80c1f.png)

[2015-01-08 01:23] garethgreenaway commented on #111
Thanks! Looks like someone put it in place.

[2015-01-08 01:23] #111 closed

[2015-01-09 14:12] ScislaC commented on #106
There was no decent simplification of the coins and halftoned rainbow which would take a reasonable amount of time... lucky penny it is. Any feedback would be appreciated since it's effectively finalized with no objections.
![bag3](https://cloud.githubusercontent.com/assets/1201009/5680755/5aad5b08-97c6-11e4-9a64-ea14d5713f6f.png)

[2015-01-09 14:22] ScislaC commented on #104
Any feedback is appreciated, this is based on us going with the mug bala gave me specs for.
![mug2](https://cloud.githubusercontent.com/assets/1201009/5680887/c9a0b040-97c7-11e4-8e37-50679b6882a1.png)

[2015-01-09 14:26] hriday commented on #104
Love it.

—
Sent from Mailbox

On Fri, Jan 9, 2015 at 7:22 AM, ScislaC <notifications@github.com> wrote:

[2015-01-09 15:03] lcafiero commented on #104
+1 - that's great!

On Fri, Jan 9, 2015 at 6:26 AM, Hriday Balachandran <
notifications@github.com> wrote:

[2015-01-09 15:12] JasonRkr commented on #104
Group,

This may have been mentioned before so excuse me if I'm repeating stuff,
but isn't the horseshoe supposed to be facing up so the luck doesn't run
out? At least that's how I remember it.  😊

Regards,

Jason

On Friday, January 9, 2015, ScislaC <notifications@github.com> wrote:

[2015-01-09 15:31] Orv commented on #104
+1!
On Jan 9, 2015 6:22 AM, "ScislaC" <notifications@github.com> wrote:

[2015-01-09 15:41] ScislaC commented on #104
@JasonRkr You know what, while that doesn't sound familiar to me, wikipedia does confirm that this is correct. Thank you for catching it!

[2015-01-09 15:42] ScislaC commented on #104
![mug2](https://cloud.githubusercontent.com/assets/1201009/5682200/1ad65d4c-97d3-11e4-91f6-15000a2a1bd5.png)

[2015-01-09 15:43] ScislaC commented on #104
It even looks luckier now ;)

[2015-01-09 15:44] ScislaC commented on #106
Thanks to a lucky catch on the mug (har har)...
![bag3](https://cloud.githubusercontent.com/assets/1201009/5682246/49cdde22-97d3-11e4-8aae-2fb2a9d8566c.png)

[2015-01-09 16:24] garethgreenaway commented on #106
NO objections. Looks great.

[2015-01-09 16:26] garethgreenaway commented on #104
Looks great.

[2015-01-09 16:34] itdirector commented on #106
i was going to point out that the horseshoe is supposed to face up, but i
see that has changed already. :-)  i didn't see the convo about the mugs.

...lori
On Jan 9, 2015 7:44 AM, "ScislaC" <notifications@github.com> wrote:

[2015-01-09 16:36] itdirector commented on #104
...aaand now I see it. :-)  this is a fun design.

...lori
 On Jan 9, 2015 7:12 AM, "JasonRkr" <notifications@github.com> wrote:

[2015-01-09 17:34] hriday commented on #106
Josh, it looks like we have a quorum. Let's get the art in the right format
and I'll get it ordered.

Everyone ok with the bag art?

Bala.

On Fri, Jan 9, 2015 at 9:34 AM, itdirector <notifications@github.com> wrote:

[2015-01-19 22:30] garethgreenaway opened #112 "SCALE 13x Flyer"
SCALE 13x Flyer
8.5 x 11

SCALE 13x dates
Penguin logo
standard tag lines.

[2015-01-27 04:12] ScislaC opened #113 "Badges for 13x"
Here are current badge ideas, feedback welcome. I'm willing to change or adapt whatever, but figured feedback would help move them along...

![badge1](https://cloud.githubusercontent.com/assets/1201009/5913350/72741306-a597-11e4-89cb-0d7cbd621d36.png)
![badge2](https://cloud.githubusercontent.com/assets/1201009/5913352/7672c376-a597-11e4-93e5-ed01d1fddd39.png)
![badge3](https://cloud.githubusercon

[2015-01-27 04:16] garethgreenaway commented on #113
These look great.  A bit of feedback:
#1 maybe a few less charms?  Maybe we could have different versions with different charms.
#2 looks good
#3 maybe different version of it, with different colors and charms?
#4 Also good, maybe a few versions with different charms.

[2015-01-27 05:13] irabinovitch commented on #113
Strong preference on #1.  I'm still not a huge fan of the frontward facing
Troy.

Lei, does this design work for your printing needs?

On Mon, Jan 26, 2015 at 8:12 PM, ScislaC <notifications@github.com> wrote:

[2015-01-27 05:27] ScislaC commented on #113
Gareth: 1 has all... 13 charms. :) I could definitely do different versions with a smaller number. 3 was kind of "organic" in that it had a ladybug on a 4-leaf clover. I can definitely do that for 4.

Ilan: 1 doesn't have any front facing troy I'm seeing, did you mean 4?

[2015-01-27 06:21] irabinovitch commented on #113
Yes, i meant that the reason I like 1 over 4 is the charms + no front
facing troy.

On Mon, Jan 26, 2015 at 9:27 PM, ScislaC <notifications@github.com> wrote:

[2015-01-27 06:29] itdirector commented on #113
i like #1 because it so clearly repeats the theme that's on the other
gear.  but the others are visually appealing as well.  are we going to do
more than one badge?

...lori
 On Jan 26, 2015 10:21 PM, "irabinovitch" <notifications@github.com> wrote:

[2015-01-27 23:19] ScislaC commented on #103
Bala and others, how about this look for the die cut one?
![scale_die_cut](https://cloud.githubusercontent.com/assets/1201009/5929358/d76c23a2-a637-11e4-9b8a-f6d2b5e74180.png)

[2015-01-27 23:22] ScislaC opened #114 "Tech & A/V Team shirts"

[2015-01-27 23:25] ScislaC commented on #114
A/V Back:
![av-back](https://cloud.githubusercontent.com/assets/1201009/5929402/606f6aa6-a638-11e4-8f6f-66387f6c1bde.png)
Emblem A/V team wants on the front:
![emblem_logo](https://cloud.githubusercontent.com/assets/1201009/5929442/a80e0bec-a638-11e4-9acf-bbcfca908f8d.png)

[2015-01-27 23:26] garethgreenaway commented on #114
Tech team shirts should be the same design as last year, with the SCALE year and password updated.

[2015-01-27 23:27] ScislaC commented on #114
Tech team back:
![tech-back](https://cloud.githubusercontent.com/assets/1201009/5929473/f40f8e94-a638-11e4-9d68-b7efe32fc24e.png)

Waiting on new wifi password for front.

[2015-01-28 00:08] garethgreenaway commented on #114
Wireless password will be krowten

[2015-01-28 00:31] hriday commented on #103
Looks good.

On Tue, Jan 27, 2015 at 4:19 PM, ScislaC <notifications@github.com> wrote:

[2015-01-28 00:34] ScislaC commented on #114
![tech-front](https://cloud.githubusercontent.com/assets/1201009/5930275/5a18410a-a642-11e4-98af-a2bb1e191cdc.png)

[2015-01-28 00:37] garethgreenaway commented on #114
Looks good.  If you're feeling creative and have some time. :)  Penguin face as a skull & crossbones :)

[2015-01-28 05:10] irabinovitch commented on #113
No strong preference here. We can do multiple designs too, as long as
the text box areas are aligned.

Looks like there's enough space there.

On Mon, Jan 26, 2015 at 09:12:59PM -0800, Ilan Rabinovitch wrote:

[2015-01-28 15:47] garethgreenaway commented on #114
http://g.itux.info/var/albums/Dragon_Tux_by_ghassan747.jpg?m=1376786170

[2015-01-28 15:56] hriday commented on #113
So, shall I  order?

On Tue, Jan 27, 2015 at 10:10 PM, irabinovitch <notifications@github.com>
wrote:

[2015-01-28 16:21] ScislaC commented on #114
Is that something you got permission to modify and use?

[2015-01-28 16:23] hriday commented on #114
Does Gareth need permission if it looks like him?

On Wed, Jan 28, 2015 at 9:21 AM, ScislaC <notifications@github.com> wrote:

[2015-01-28 16:23] ScislaC commented on #113
That's up to you. I was going to do a few variations on the first one today, I will have them posted in a few hours.

[2015-01-28 16:26] hriday commented on #113
Ok, I'll order eod?

[2015-01-28 16:29] ScislaC commented on #114
If that was posted for reference in asking if we could give that look to the existing penguin on the back of the shirt, then it's not a problem (but that also requires me fleshing out the rest of the penguin). If it's actually wanting that, just modified for the T-shirt, it's a copyright issue without permission.

[2015-01-28 16:30] ScislaC commented on #114
By "that look" I mean taloned feet and having wings.

[2015-01-28 17:31] ScislaC commented on #113
I'm not opposed. I'll just need to know what's being used so I can provide the images to the spec they want.

[2015-01-28 23:26] ScislaC commented on #113
I wasn't really happy with the couple other designs I came up with, so I modified the first one with colorized charms to see if it's maybe more appealing to Gareth,
![badge1a](https://cloud.githubusercontent.com/assets/1201009/5949374/d467c59c-a701-11e4-9394-22cd6652260e.png)

[2015-01-28 23:27] garethgreenaway commented on #113
I definitely like the multiple charms more when they're in color.

[2015-01-29 03:48] garethgreenaway commented on #114
To reiterate what I said in IRC, let's see how this looks for the front with the password.

[2015-01-29 21:34] ScislaC commented on #105
I'm digging this as a front, but if others would like, I can see about whipping some alternates up.
![attendee-front1a](https://cloud.githubusercontent.com/assets/1201009/5966585/8a8f85c2-a7ba-11e4-97e9-c87bbfd4cd72.png)

Here are a few ideas on backs...
![attendee-back1](https://cloud.githubusercontent.com/assets/1201009/5966631/0448daa8-a7bb-11e4-83dd-088f48e00d37.png)
![attendee-back2](https://

[2015-01-29 22:15] irabinovitch commented on #105
Really liking the design this year.

[2015-01-29 22:44] garethgreenaway commented on #105
@ScislaC Looking good!  What about having the charms around the circle on the front of the shirt?

[2015-01-29 23:18] ScislaC commented on #105
With rotation:
![attendee-front2a](https://cloud.githubusercontent.com/assets/1201009/5968218/fb21afae-a7c9-11e4-9304-04e436dd4ef2.png)

-

Without rotation:
![attendee-front2b](https://cloud.githubusercontent.com/assets/1201009/5968222/01db43d2-a7ca-11e4-8d69-08e850ceb958.png)

[2015-01-29 23:21] garethgreenaway commented on #105
Did you have a color for the shirt in mind?  Let me know if you want to see the available colors.

[2015-01-29 23:25] ScislaC commented on #105
I'd definitely be interested in seeing available colors, because I have a color in mind for next year.

[2015-01-31 02:34] ScislaC commented on #103
Sorry, experienced the worst timing ever as an Inkscape release was pushed out this week so I've been trying to balance both things.
![rect15926](https://cloud.githubusercontent.com/assets/1201009/5986489/52c5781e-a8ae-11e4-88cd-e330e36e817f.png)

[2015-01-31 16:42] garethgreenaway commented on #105
Do you think we can finalize the design by Monday?  We're getting really close and need to send in the order as soon as possible.

[2015-02-01 02:40] irabinovitch opened #115 "Enable Featured Speakers Module"
I created the featured speakers content type, please help enable it on the home page.  Setting promote to front page or stick at top of lists didn't seem to do it.

[2015-02-01 05:05] rgolan commented on #115
I think we changed how this works last year. Just make a presentation 'Sticky at top of lists' and that speaker will be a featured speaker. If when you do that, there is something different you need let me know.

[2015-02-01 05:06] ScislaC commented on #105
Oh yeah, I can have the PDFs in your inbox by Monday morning. It just didn't seem like there was a consensus (Ilan liked where it was going, you asked for a mod but didn't comment on it). If it's up to me to just choose, that is totally fine by me... but I don't want people to feel left out of it being an open process for decision.

[2015-02-01 06:02] garethgreenaway commented on #105
Sorry, I thought I had responded.  I like the charms around the outside.  Leaning more towards without the rotation but I can go either way.  We can pass the design along to the chairs list and see what everyone things.

[2015-02-01 08:55] irabinovitch commented on #115
Ah. Yes. Thanks. seems to work.

[2015-02-01 18:34] #115 closed

[2015-02-01 23:28] ScislaC commented on #105
Adding this based on Ilan's last comment
![attendee-back2-alt](https://cloud.githubusercontent.com/assets/1201009/5994405/f99a4a60-aa26-11e4-972b-d91cf4cbffc5.png)

[2015-02-03 03:41] ScislaC opened #116 "Signs"
The general 2'x3' signage we have giving directions and by doors.

[2015-02-03 03:47] ScislaC commented on #116
Here are a couple ideas John came up with to get some feedback (if anyone has any... I have my thoughts but want to hear from others):

![sign1](https://cloud.githubusercontent.com/assets/1201009/6014177/3d51644e-ab14-11e4-810f-beef7d03744f.jpg)
![sign2](https://cloud.githubusercontent.com/assets/1201009/6014178/41c93d30-ab14-11e4-9447-b6d4434bcefd.jpg)

Obviously ignore the Faux sponsor and repea

[2015-02-03 03:49] irabinovitch commented on #116
Nifty.  Should we incorporate the charms theme at all, or is that overdone?

[2015-02-03 04:10] JasonRkr commented on #116
Group,

How about a single charm on each sign?  Just repeat as needed.

Jason
On Feb 2, 2015 7:49 PM, "irabinovitch" <notifications@github.com> wrote:

[2015-02-03 04:40] irabinovitch commented on #116
All for that if its not a lot of work for john and josh.
On Feb 2, 2015 8:10 PM, "JasonRkr" <notifications@github.com> wrote:

[2015-02-03 04:46] ScislaC commented on #116
Single charm was actually what I was thinking (something subtle). Thanks for the feedback, I will get back with John.

[2015-02-03 05:06] garethgreenaway commented on #116
Those look great.  very eye catching.

[2015-02-03 05:41] irabinovitch commented on #116
Thanks Josh.

[2015-02-09 03:05] irabinovitch opened #117 "update social media links on scale13x pages"
Lanyrd - http://lanyrd.com/2015/scale13x/
Facebook - https://www.facebook.com/events/887579767940460/
G+  - https://plus.google.com/u/0/events/ccj5amj650h88d15h2vgn81cvng

We should drop identica as its no longer active.

[2015-02-09 05:31] rgolan commented on #117
I've made those changes.

[2015-02-09 05:32] irabinovitch commented on #117
Thanks

[2015-02-09 05:32] #117 closed

[2015-06-11 15:56] #114 closed

[2015-06-11 15:56] #26 closed

[2015-06-11 15:56] #46 closed

[2015-06-11 15:56] #55 closed

[2015-06-11 15:56] #57 closed

[2015-06-11 15:56] #69 closed

[2015-06-11 15:56] #70 closed

[2015-06-11 15:56] #79 closed

[2015-06-11 15:56] #92 closed

[2015-06-11 15:56] #94 closed

[2015-06-11 15:56] #100 closed

[2015-06-11 15:56] #101 closed

[2015-06-11 15:56] #103 closed

[2015-06-11 15:56] #104 closed

[2015-06-11 15:56] #105 closed

[2015-06-11 15:56] #106 closed

[2015-06-11 15:56] #108 closed

[2015-06-11 15:56] #109 closed

[2015-06-11 15:56] #110 closed

[2015-06-11 15:56] #112 closed

[2015-06-11 15:56] #113 closed

[2015-06-11 15:56] #116 closed

[2015-06-11 15:58] garethgreenaway opened #118 ""I'm Going" & "I'm Speaking" Badges for SCALE 14x"
Like we had last year, for people to advertise that they're or they're speaking at SCALE 14x.

[2015-06-18 05:36] irabinovitch opened #119 "SCALE 13x pages show SCALE title"
When we launched the SCALE 14x site it looks like the 13x pages were updated as well. Can we fix?

[2015-06-18 05:41] rgolan commented on #119
Could you explain more what on the pages was updated.

—
Ron Golan
rgolan@superconcentrated.com

[2015-06-18 05:43] irabinovitch commented on #119
Actually looks like the logo issue was fixed a bit back.  Its just the title tag now.  Not a big deal but its causing scale 13x pages to show up as scale 14x in search results.

[2015-06-18 05:47] rgolan commented on #119
I don’t understand what you mean by title tag. Could you give me a URL of a page with this issue? I’m looking at

https://www.socallinuxexpo.org/scale/13x/sponsor/hp-1 <https://www.socallinuxexpo.org/scale/13x/sponsor/hp-1>

as an example and I don’t see it.

—
Ron Golan
rgolan@superconcentrated.com

[2015-06-18 05:50] rgolan commented on #119
I get what you’re saying now. I’ll look into fixing that. Drupal puts the site name in the title by default. I can probably fix that but it’ll take me a little while.

—
Ron Golan
rgolan@superconcentrated.com

[2015-06-18 05:51] irabinovitch commented on #119
![2015-06-17_2251](https://cloud.githubusercontent.com/assets/289654/8224950/71000f36-1543-11e5-9f5f-dc1d62301a7c.png)
![2015-06-17_2249](https://cloud.githubusercontent.com/assets/289654/8224949/70ff50f0-1543-11e5-97fe-257b0d81468c.png)

[2015-06-18 05:52] irabinovitch commented on #119
NVM sounds like you got it.  Thanks. No rush.

[2015-06-18 06:20] rgolan commented on #119
I fixed it for pages that are getting the 13x theme. Speaker pages will always show on the current theme since we reuse those nodes.

—
Ron Golan
rgolan@superconcentrated.com

[2015-06-18 07:28] irabinovitch commented on #119
Heres an example of the pages I was seeing with the 14x logo:

https://www.socallinuxexpo.org/scale/13x/speakers/andrew-kirch

[2015-06-18 14:33] rgolan commented on #119
The problem here is that we keep users (speakers) from year to year and each user has only one user profile page. Give that, I think we decided to show those pages with the current theme and show only presentations from the current year. I'm open to suggestions on changing this.

Sent from my iPad

[2015-06-19 01:18] irabinovitch opened #120 "Create SCALE 14x Artwork for Twitter"
Lets update our twitter page with a badge for SCALE 14x.

- [ ] Header photo (recommended dimensions are 1500x500 pixels)
- [x] Profile photo (recommended dimensions are 400x400 pixels)

[2015-06-19 01:18] irabinovitch opened #121 "Create SCALE 14x Artwork for G+"
Lets update the header on our G+ page with one for SCALE 14x.

[2015-06-19 01:19] irabinovitch opened #122 "Facebook header image for SCALE 14x"
Lets create a SCALE 14x header image for Facebook.

[2015-06-19 01:55] irabinovitch opened #123 "custom artwork for youtube channel"
SCALE uses Youtube for our live streaming and on demand recordings of SCALE shows and content.
At the moment our [channel](http://youtube.com/socallinuxexpo) is using the default layout and artwork.

It'd be great to SCALE brand it. Would anyone be interested in creating custom artwork for the youtube channel?

Instructions for how to do so are available here:
https://support.google.com/youtube/an

[2015-06-26 00:28] irabinovitch opened #124 "update lanyard button on SCALE website for 2016"
The new lanyrd link is http://lanyrd.com/2016/scale14x/. Lets update it on SCALE 14x pages. Thanks.

[2015-06-26 00:30] irabinovitch opened #125 "SCALE 14x Print ads"
Tracking ticket for print ads we'll want to design. Specs to follow.

[2015-06-26 01:08] rgolan commented on #124
I updated the Lanyrd link. Do any of the other social media links need to be updated?

[2015-06-26 01:10] irabinovitch commented on #124
We'll need to update the facebook event, ill work on creating that shortly.

[2015-07-13 22:08] irabinovitch commented on #125
Specs for Linux Journal.

http://www.linuxjournal.com/advertising/edcal2015

We can start running ads from Aug 4th if we have the artwork ready by then.

[2015-07-31 02:27] irabinovitch commented on #125
Just pinging a reminder that we can get this in on Aug 4th. Next deadline after that is first week of September.

[2015-08-04 19:09] ScislaC commented on #125
If you would like to get one in, I can have something ready by 4pm.

[2015-08-04 19:13] irabinovitch commented on #125
That would be great. Thanks Josh.

[2015-08-15 14:07] MartinDesigner commented on #26
![imghome](https://cloud.githubusercontent.com/assets/13809960/9289198/c7b4c1da-4367-11e5-9854-3f8e2bd9fc49.jpg)
Try Createer.com. You can easily design online ads, responsive landing pages and print materials such as flyers, posters, covers, invitations and more. Createer lets you easily share your designs on social media, send them via email, download as HTML, image or PDF. Createer also include

[2015-08-28 05:04] irabinovitch opened #126 "Volunteer Option to Home page menus"
Can we add a button to the top level SCALE menu named "Volunteer" and link to:
https://www.socallinuxexpo.org/blog/call-volunteers

thanks,

[2015-08-30 20:25] rgolan commented on #126
I added the menu link.

[2015-09-08 18:04] irabinovitch opened #127 "Full Circle Ad"
We have a full page ad in Full Circle (an Ubuntu community magazine)  through SCALE in January.
Their ad deadline is the 23rd of each month.

The requirements they provided are:  landscape, A4, no more than 100DPI.
We can use the promo code FULL in the artwork.

[2015-09-09 17:05] irabinovitch opened #128 "Linux Pro Magazine Print Ads"
Hi @ScislaC ,

We've arranged for full page ads in the following issues of Linux New Media publications.

Linux Pro Issue 181 December 2015
On sale: Dec 4
Art due date: Oct 7

Linux Pro Issue 182 January 2016
On sale: Jan 1
Art due date: Nov 4

ADMIN magazine Issue Dec/Jan
On sale: Nov 13
Art due date: Sept 23

Ubuntu User Winter 2015
On sale: Dec 18
Art due date: Oct 28

[2015-09-09 17:07] irabinovitch commented on #128
Ad Specs are available at https://www.dropbox.com/s/il3v8b6qy41wqld/LinuxPro_2015_ad_specs.pdf?dl=0

[2015-09-11 06:48] irabinovitch opened #129 "Enable sponsor logos on SCALE 14x site"
Hey @rgolan, We should have a few sponsors and exhibitors in the website at this point. Can we enable the sponsor logo side bar?

Thanks,
Ilan

[2015-09-12 16:53] rgolan commented on #129
I've enabled the block but only two logos show up. Is that what you expected?

[2015-09-12 18:16] irabinovitch commented on #129
Thanks.  I've published  a few more sponsors to fill it out.

[2015-09-12 18:16] #129 closed

[2015-09-14 14:03] irabinovitch opened #130 "Linux Pro Magazine - Banner Ads"
We've procured banner ads on the various Linux New Media Sites.

They can accept any of the following sizes:
728x90, 300x250, 160x600

Do we have any of these already?

[2015-09-23 23:30] ScislaC commented on #127
Submitted earlier today.

[2015-09-23 23:32] ScislaC commented on #128
ADMIN submitted earlier today, used the promo code ADMIN.

[2015-10-04 20:37] garethgreenaway opened #131 "Enable Exhibitors on SCALE 14x"
Can we enable the list of exhibitors for SCALE 14x so it's visible in the Information tab.

[2015-10-05 00:00] irabinovitch opened #132 "Update dates on exhibitors page"
hey @rgolan  can we update the days listed on the exhibitors page for Jan 2016?

https://www.socallinuxexpo.org/scale/14x/exhibitors

Jan 22, 23, 24

rather than the feb dates

[2015-10-05 03:20] rgolan commented on #132
The dates have been updated but the times are the same as last year.

[2015-10-05 03:24] rgolan commented on #131
I've create a menu item for Exhibitors.

[2015-10-05 05:02] irabinovitch commented on #132
Thanks

[2015-10-05 05:02] #132 closed

[2015-10-22 23:41] #131 closed

[2015-10-22 23:42] irabinovitch commented on #130
@ScislaC do we have any buttons we can send along?

[2015-10-22 23:42] irabinovitch commented on #128
Next due date is Wednesday, October 28 for Ubuntu User.

[2015-10-22 23:42] irabinovitch commented on #127
Thanks!

[2015-10-22 23:42] #127 closed

[2015-10-22 23:43] #126 closed

[2015-10-22 23:43] irabinovitch commented on #125
This was submitted.

[2015-10-22 23:43] #125 closed

[2015-10-22 23:45] irabinovitch commented on #119
I was thinking we could year part of the url for the theme, but will defer to you.

[2015-10-23 00:51] irabinovitch commented on #121
940 × 235 pixels

[2015-10-23 00:52] irabinovitch commented on #122
2560 x 1440 px

[2015-10-23 00:57] irabinovitch commented on #124
@rgolan  Here is the G+ event Link:
https://plus.google.com/b/117542657599667543533/events/cs11bfcssloncm48dj1334gli6c?pageId=117542657599667543533

[2015-10-23 03:35] rgolan commented on #124
I updated the G+ link.

[2015-10-23 03:40] rgolan commented on #119
I'm not clear on what you're suggesting. Please elaborate.

[2015-10-27 21:50] irabinovitch opened #133 "DevOps.com Banner Ads"
Some duplication from #130, but we've arranged for DevOps.com to run some banner between now and SCALE. They'll accept any of the following sizes.

160x600 | 728x90 | 300x250

[2015-10-27 22:08] irabinovitch commented on #128
@ScislaC we all set for tomorrow?

[2015-10-28 03:40] irabinovitch commented on #124
Thanks.

[2015-10-28 04:54] irabinovitch opened #134 "add security as an option to CFP"
Hey @rgolan , Can we add security as a track option in the call for papers?

[2015-10-28 06:29] irabinovitch opened #135 "Enable "Special Events" Top Level Menu"
Hi Ron, We've started creating special events, can you help Enable "Special Events" top level menu? Thanks!

[2015-10-29 02:13] garethgreenaway opened #136 "Add "Apache BigTop" as option for CFP"
Add "Apache BigTop" as option for CFP

[2015-10-29 03:49] rgolan commented on #134
Do you mean add a Security term to the Topic dropdown or edit the CFP suggested Topic of Interest or both?

[2015-10-29 03:56] rgolan commented on #135
I've enabled the menu item but there is only one event showing now.

[2015-10-29 04:05] irabinovitch commented on #134
In the dropdown.  It's already listed on the [CFP](https://www.socallinuxexpo.org/cfp/) page just not in the drop down.

[2015-10-30 03:30] rgolan commented on #134
I've added Security to the options for Topic on Presentations.

[2015-10-30 03:31] rgolan commented on #136
I've added Apache BigTop to the options for Topic on Presentations.

[2015-10-31 05:27] irabinovitch commented on #136
Thanks Ron.

[2015-10-31 05:27] #136 closed

[2015-10-31 05:27] irabinovitch commented on #135
Thanks. More will be published shortly.

[2015-10-31 05:27] #135 closed

[2015-10-31 06:02] irabinovitch commented on #134
Thanks!

[2015-10-31 06:02] #134 closed

[2015-10-31 06:04] irabinovitch opened #137 "Identify Local Event Calendars"
Lets work together to find a list of local event calendars and post SCALE, Ubucon Summit and our other events to it.  Please post here when you identify a site or post to it, so we dont duplicate.

@lcafiero could PR help with some canned text to use here?

[2015-10-31 06:20] forgetpasword commented on #123
I can do it. for this i need scale logo with .cdr extension.

[2015-10-31 06:28] irabinovitch commented on #123
@forgetpasword Hi, we dont have much in CDR but you can find a lot of our branding elements here on github https://github.com/socallinuxexpo/SCALE-Design/tree/master/branding in AI, SVG or PDF.

[2015-10-31 07:31] joerenzullo commented on #137
Off the top of my head:

Print publications:
Pasadena Star News
Pasadena Weekly
Pasadena Now
Pasadena Journal

[2015-10-31 08:35] irabinovitch opened #138 "Create Podcast Promo Recording"
Theres lots of great tech podcasts out there that would be willing to run a 45-60 second promo for us.  Lets record something brief explaining what SCALE is and why they should come. We can offer a 40% promo code for them to provider their listeners as well.

[2015-10-31 09:19] irabinovitch commented on #137
LA Calendars
===
[Craigslist](https://losangeles.craigslist.org/search/eee)
[OC Register](http://www.ocregister.com/common/archives/?catID=25048)
[Discover Los Angeles](http://www.discoverlosangeles.com/what-to-do/events)
[City of Pasadena](http://www.cityofpasadena.net/accesspasadena.aspx)
[Visit Pasadena](http://www.visitpasadena.com/events/)
[EyeSpy LA](http://eyespyla.com/post)
[Hidden Los Ang

[2015-10-31 16:18] ScislaC commented on #123
@forgetpasword Two logos and a copy of Troy are directly available here: https://www.dropbox.com/sh/2bev5bl8va69rqn/AABsGesjGPDMnkYbTY2H340-a?dl=0

We do tend to prefer that open file formats are used, and most of our graphics work tends to be produced with Inkscape, Scribus, Krita, GIMP, Blender, etc. However, if Corel Draw is just more productive for you we understand that and would just ask to

[2015-10-31 20:04] irabinovitch opened #139 "Identify List of Law Schools in So Cal and invite students our legal training"
SCALE is offering [OSS legal training](https://www.socallinuxexpo.org/scale/14x/open-source-legal-training) this year.  In addition to offering this training to legal professionals who aren't familiar with open source or have concerns about its use in their organizations, we should catch 'em while they're young and offer the training to students currently in law school.

Lets use this ticket to ma

[2015-11-03 03:57] irabinovitch commented on #138
Here are a few examples of the ones  Jason Riker has recorded over the years. We had similar records for SCALE 12x and SCALE 13x, I just don't have them handy at the moment.

SCALE 11x
http://www.socallinuxexpo.org/scale11x-supporting/default/files/promo/scale11x_6c.mp3

SCALE 10x
https://www.socallinuxexpo.org/scale10x-supporting/sites/default/files/promo/scale10x_promo1.mp3

[2015-11-10 17:09] geekhunter commented on #138
Larry, if your subscribed to this open issue... ping me at either geekhunter@gmail.com or call me at 626-921-4904 so we can plan for the development of the promos.

[2015-11-10 17:12] irabinovitch commented on #138
Adding @lcafiero  here as well.

[2015-11-11 04:46] irabinovitch commented on #128
nov artwork submitted.

Last deadline will be in early December.

[2015-11-13 23:11] ScislaC commented on #128
Whaich magazine will have a deadline in Dec?

[2015-11-16 06:46] irabinovitch commented on #138
@geekhunter  Were you able to connect?

[2015-11-16 06:46] irabinovitch commented on #137
@lcafiero Do you have any text you'd like folks to use when submitting here?

[2015-11-16 06:47] irabinovitch commented on #137
@joerenzullo would you be willing to take a stab at submitting us to some of these calendars?

[2015-11-16 06:48] irabinovitch commented on #123
@forgetpasword Thanks for volunteering to look at this. Were you able to access the files @ScislaC  shared?

[2015-11-17 07:37] irabinovitch opened #140 "Announce speaker selections"
About 50% of our speakers and sessions are now on the website.  Lets go ahead and announce them to scale-announce.

-Ilan

[2015-11-17 07:42] irabinovitch opened #141 "ads for lwn.net"
We've arranged to run banner ads on lwn.net.  They require them in 728x90 and 300x250.
Our point of contact is going on vacation for the next several months after this week, so best to get them in before Friday.

We should be able to reuse these for #130 as well.

[2015-11-17 07:42] irabinovitch commented on #130
Looks like these match the specs for #141 which are due this week.

[2015-11-18 01:40] ScislaC commented on #130
Here are a couple at 300x250, I will target other sizes next...
![scale-14x-banner300x250-blue](https://cloud.githubusercontent.com/assets/1201009/11230236/0d34a2be-8d52-11e5-8f7a-9c81af16623a.png)
![scale-14x-banner300x250-gr](https://cloud.githubusercontent.com/assets/1201009/11230237/0d365f28-8d52-11e5-9866-d1d4624c419a.png)

[2015-11-18 01:40] ScislaC commented on #141
Here are a couple at 300x250, I will target other sizes next...
![scale-14x-banner300x250-blue](https://cloud.githubusercontent.com/assets/1201009/11230236/0d34a2be-8d52-11e5-8f7a-9c81af16623a.png)
![scale-14x-banner300x250-gr](https://cloud.githubusercontent.com/assets/1201009/11230237/0d365f28-8d52-11e5-9866-d1d4624c419a.png)

[2015-11-18 03:09] garethgreenaway opened #142 "Enable Speakers & Presentations Links"
As we're starting to mark speakers as accepted and publish their talks, we should enable the speakers & presentations links under the Information menu.

[2015-11-18 03:15] rgolan commented on #142
I added both a Speakers and Presentations menu item on the 14x site.

[2015-11-18 06:42] irabinovitch commented on #130
sent these in to LWN

[2015-11-18 06:43] irabinovitch commented on #141
sent these in to LWN. Will send the others when they are available.

[2015-11-18 06:43] irabinovitch commented on #133
#130  added some 300x250 ads. Sending those in. If we get 728x90 or 160x600 ill send those in too when they become available.

[2015-11-18 14:47] garethgreenaway commented on #142
Thanks Ron. It looks like presentations from previous years are showing up on the speakers page.

[2015-11-18 16:53] rgolan commented on #142
I tried to fix this just now but it's going to take more time and I have to leave. I'll work on it tonight. Do you want me to leave the Speakers menu item enabled or disable it?

[2015-11-18 17:12] garethgreenaway commented on #142
Let's disable it until it's fixed.

[2015-11-19 05:20] rgolan commented on #142
I've fixed the speaker view and reenabled the menu link.

[2015-11-19 05:39] garethgreenaway commented on #142
Thanks Ron!

[2015-11-19 05:39] #142 closed

[2015-11-19 07:21] irabinovitch commented on #140
@lcafiero let us know if you need any info.

[2015-11-19 07:23] irabinovitch commented on #139
California Western School of Law
225 Cedar St.
San Diego, CA 92101-3046
619-239-0391
www.cwsl.edu

Chapman University School of Law
370 North Glassell St.
Orange, CA 92866-1032
888-242-1913
714-628-2500
www.chapman.edu/law

University of California Irvine
School of Law
401 E. Peltason Drive, Suite 1000
Irvine, CA 92697-8000
949-824-0066
www.law.uci.edu

University of California Los Angeles
School

[2015-11-19 16:09] irabinovitch commented on #137
@lcafiero  Here is the text Dennis Rex wrote a few years back. I've updated it for this year.  Any edits?

`Now celebrating its 14th year, SCALE has become one of the premier regional Open source software shows. Increasingly it's able to attract top speakers and exhibitors from all over North America. Content ranges from beginner tutorials to seminars for the experienced system administrator or so

[2015-11-19 16:46] geekhunter commented on #138
Yes, connected and reviewing the promo. I'm sending a few suggestions this
morning and then we'll get to recording.

On Sun, Nov 15, 2015 at 10:46 PM, Ilan Rabinovitch <notifications@github.com

[2015-11-19 17:29] geekhunter commented on #138
@lcafiero Sorry for the delay, got hit with a ton of things at work over the last week.

I reviewed the promo copy and really like it. The only suggestion I might have is to find a word to replace "greybeard" that suggests being an "old-timer" but doesn't necessary discount women who have been a part of the movement since the beginning. Having attended a lot of conferences, I have heard from many

[2015-11-19 17:32] irabinovitch commented on #138
@geekhunter We'd be happy to have you give a go at recording/mixing on your end.  What length are we targeting at the moment?

[2015-11-19 21:51] lcafiero commented on #137
Now celebrating its 14th year, the Southern California Linux Expo SCALE 14X
is the second largest Linux and Open Source Software show in North America.
With top speakers and exhibitors from all over, the four-day event -- from
Jan 21-24, 2016, at the Pasadena Convention Center -- attracts top speakers
and exhibitors from all over North America. Sessions and workshops range
from beginner tutorials

[2015-11-19 23:03] ScislaC commented on #141
Here's matching 728x90 ads.
![text7265-8](https://cloud.githubusercontent.com/assets/1201009/11287155/6d331d80-8ece-11e5-8940-fc5bbfc59345.png)
![text7265-7](https://cloud.githubusercontent.com/assets/1201009/11287167/80507214-8ece-11e5-957a-369c813ed259.png)

[2015-11-19 23:03] ScislaC commented on #130
Matching 728x90, will do the last one next.
![text7265-8](https://cloud.githubusercontent.com/assets/1201009/11287155/6d331d80-8ece-11e5-8940-fc5bbfc59345.png)
![text7265-7](https://cloud.githubusercontent.com/assets/1201009/11287167/80507214-8ece-11e5-957a-369c813ed259.png)

[2015-11-20 00:11] ScislaC commented on #130
Here's a blue one for the 160x600 in blue (one w/ Troy, one w/o in case there's a preference)
![scale-14x-banner160x600-blue](https://cloud.githubusercontent.com/assets/1201009/11288316/eb4fb9c2-8ed7-11e5-8950-898d5fd4b44b.png)
![scale-14x-banner160x600-blue2](https://cloud.githubusercontent.com/assets/1201009/11288319/eed53478-8ed7-11e5-9dbc-8d16d065b52d.png)

[2015-11-20 07:52] irabinovitch commented on #141
Thanks. I've sent these along.

[2015-11-20 07:59] #141 closed

[2015-11-20 07:59] irabinovitch commented on #133
Sent along the 728x90 banners as well.

[2015-11-20 08:00] irabinovitch commented on #130
Awesome! I think this has us covered.  FWIW I always like including Troy.

[2015-11-20 08:00] #130 closed

[2015-11-20 08:02] irabinovitch commented on #137
@joerenzullo Thanks for the earlier suggestions, would you be up for grabbing the text @lcafiero  provided and submitting it to the list of calendars we have here?  Even if you can only do a few that'd be helpful.

[2015-11-21 10:16] joerenzullo commented on #137
@irabinovitch I'll definitely be able to do this. I'll send out information starting tomorrow and will keep track here of which institutions I have contacted, and responses I receive, as I go.

[2015-11-22 10:23] irabinovitch opened #143 "Proofreading of Session and Speaker Content"
We've nearly finalized the SCALE schedule and session selections.  The next step we generally take in planning is to proofread bios and abstracts ahead of sending them off to print in the final program.

More detailed instructions will be posted shortly.

[2015-11-22 22:38] lcafiero commented on #143
I've gone through all of them and fixed the mistakes I saw, and they were minuscule -- a left-out apostrophe, missed capitalization, etc. There were a lot of formatting issues -- extra lines, etc. -- which I fixed. Obviously if someone else wants to go through and just fix misspellings and grammar (and not rewrite anything, though you may be tempted to), that would be great.

[2015-11-23 06:00] joerenzullo commented on #137
Edited the text a little. The version @lcafiero offered had a minor repetition:

"...
With ***top speakers and exhibitors from all over***, the four-day event -- from Jan 21-24, 2016, at the Pasadena Convention Center -- attracts ***top speakers and exhibitors from all over*** North America.
..."

This is the version I'll be using:

Now celebrating its 14th year, the Southern California Linux Expo

[2015-11-23 18:33] irabinovitch commented on #143
@lcafiero Just to confirm did you go through the full list, or the ones presently published on the site? We've still got more going out as speakers ACK their participation.

[2015-11-24 18:19] garethgreenaway opened #144 "Add Apache Bigtop to Presentation Votes Page"
Add Apache Bigtop to the following page so I can filter those talks:
https://www.socallinuxexpo.org/presentation-votes

Thanks!

[2015-11-24 18:34] garethgreenaway opened #145 "14x T-Shirt Design - Deadline 1/6"
We need a design for the SCALE 14x t-shirt design.

[2015-11-25 02:06] rgolan commented on #144
Added Apache Bigtop to the topic filter options.

[2015-11-25 02:07] garethgreenaway commented on #144
Thanks!

[2015-11-25 02:07] #144 closed

[2015-11-26 02:54] irabinovitch commented on #133
Sent all 3 along. Thanks @ScislaC

[2015-11-26 02:54] #133 closed

[2015-11-26 20:21] garethgreenaway opened #146 "Enable sign.xml for SCALE 14x"
Enable sign.xml for SCALE 14x.  No rush, something for after the holiday.

[2015-11-26 20:28] rgolan commented on #146
The sign export is already enabled but it won't show presentations that have both a room and time assigned.

https://www.socallinuxexpo.org/scale/14x/sign.xml

[2015-11-26 23:14] garethgreenaway commented on #146
Perfect!  Thanks!

[2015-11-26 23:14] #146 closed

[2015-11-29 18:02] irabinovitch opened #147 "Create Event Page for SCALE TNG"
Lets create an event page for TNG explaining its goals and showing that specific schedule so we have something to share with schools and teachers.  At the moment it gets lost in the rest of the site content.

[2015-11-29 18:02] irabinovitch opened #148 "PG Day Event Page"
Need to create event page for PG Day LA.

[2015-11-29 18:03] irabinovitch opened #149 "Create Event Page for Ubuntu Summit"

[2015-11-29 18:04] irabinovitch opened #150 "Create event page for Apache BigTop"
Create event page for Apache BigTop

[2015-11-29 18:05] irabinovitch opened #151 "Create event page for Fedora Activity Day"
Create event page for Fedora Activity Day

[2015-11-29 18:05] irabinovitch opened #152 "Creat event page for Greater LA Drupal Camp"

[2015-11-29 18:05] irabinovitch opened #153 "Create event page for HAM Testing"
Create event page for  HAM Testing

[2015-11-29 18:05] irabinovitch commented on #153
@hriday  Can we create a "special event" for HAM testing and maybe a blog post explaining how to get involved?

[2015-11-29 22:06] garethgreenaway opened #154 "Bugs with Multiple Speakers"
When there are multiple speakers for a presentation, only one speaker headshot show up and the link to the speaker information page is a combination of the two names.  An example, https://www.socallinuxexpo.org/scale/14x/presentations/scale-speaker-training-seminar

[2015-11-29 22:24] rgolan commented on #154
Thanks for reporting this, Gareth. It's fixed now.

[2015-11-29 22:26] rgolan commented on #154
I guess the link is still not fixed. Working on it now.

[2015-11-29 22:26] garethgreenaway commented on #154
@rgolan Thanks!

[2015-11-29 22:32] rgolan commented on #154
The speaker name links are fixed now too.

[2015-11-29 22:33] garethgreenaway commented on #154
Perfect!  Thanks!

[2015-11-29 22:33] #154 closed

[2015-11-30 02:25] garethgreenaway opened #155 "Invalid URL for Exhibitor Pages"
Attempting to add the following URL to an exhibitor page, I told me that it was invaild:
https://tox.chat/

[2015-11-30 02:39] rgolan commented on #155
The link field type had some built in validation. I guess it didn't accept .chat domains or something. I just disabled the validation. Please try again with that URL.

[2015-11-30 02:40] garethgreenaway commented on #155
good to go!  Thanks!

[2015-11-30 02:40] #155 closed

[2015-11-30 08:40] irabinovitch commented on #147
Thanks for adding the initial text.  Since we know who the speakers are even if we dont know the timing yet, can we list their names in the schedule section?

We should also include instructions for how kids who want to register to attend should do so.

[2015-12-01 12:51] irabinovitch opened #156 "Provide Badge Design Requirements"
Bala, Once you know the specs of the badge design please share here so that @ScislaC  and crew can start working on it.

[2015-12-01 12:51] irabinovitch opened #157 "Badge Desgin"
Once we get the requirements from #156 we need to design badge artwork.

[2015-12-01 12:52] irabinovitch commented on #149
The ubucon.org site is finally getting some content on it. Are we ready to link to it yet?

http://ubucon.org/en/events/ubucon-summit-us/

[2015-12-01 20:52] irabinovitch opened #158 "Contact Us Page"
Hi Ron,

The Contact Us page in the footer links to a SCALE 13x version (https://www.socallinuxexpo.org/scale/13x/contact-us)

Since we've got new teams and team members can we link to a 14x page? I'd like to add Phil and a few others to it. Thanks.

[2015-12-02 01:08] garethgreenaway opened #159 "Audience & Topic Tags Point at 13x talks"
Looks like the audience and topic tags found here:
http://www.socallinuxexpo.org/scale/14x/presentations

Are pointing at just 13x talks.

[2015-12-02 02:56] rgolan commented on #159
Phew! That was quite a bit more work than I thought at first. Please check that you are getting the proper results now. I created custom views for both those track and audience lists rather than relying on the built in taxonomy term pages. Now they should work past, present and future SCALE events. I also added the term title at the top of the page.

These page are not actually limited to showing

[2015-12-02 03:04] garethgreenaway commented on #159
That looks better!  Thanks!

[2015-12-02 03:04] #159 closed

[2015-12-02 03:20] ScislaC commented on #118
Let me know if alternate sizes or designs are desired...
![attendee-webbadge-small](https://cloud.githubusercontent.com/assets/1201009/11521388/89f865d8-9860-11e5-9f1a-6820f81908dc.png) ![speaker-webbadge-small](https://cloud.githubusercontent.com/assets/1201009/11521389/89fa9bd2-9860-11e5-8661-3b620cb0d2e1.png)

[2015-12-02 03:29] garethgreenaway commented on #118
Those look great!

[2015-12-02 03:52] lcafiero commented on #118
Are these ready for public consumption?

On Tue, Dec 1, 2015 at 7:29 PM, garethgreenaway <notifications@github.com>
wrote:

[2015-12-02 04:01] irabinovitch commented on #118
Added them here:
https://www.socallinuxexpo.org/scale/14x/promo-items

[2015-12-02 04:01] rgolan commented on #158
Do you care if we preserve the 13x Contact Us page or can we just update it and change the link to a 14x one?

[2015-12-02 04:02] irabinovitch commented on #158
@rgolan either way.

[2015-12-02 04:03] garethgreenaway commented on #118
@ScislaC Other sizes from last year: https://www.socallinuxexpo.org/scale/13x/promo-items

[2015-12-02 04:04] irabinovitch commented on #118
I dont think it's worth the time/effort to create more sizes for the attending/speaking badges. Lets stick with 125x125.

[2015-12-02 04:06] irabinovitch opened #160 "display promo items"
@rgolan  Any chance we can setup the promo items page to preview like they were back in https://www.socallinuxexpo.org/scale10x/promo-items ?

[2015-12-02 04:06] garethgreenaway commented on #118
@ScislaC How much time/effort is involved in creating badges of the other sizes we had last year?  I'd imagine you have these as vector graphics and can just resize, then export?

[2015-12-02 04:18] irabinovitch commented on #152
Sent the drupal folks a note asking for text today.

[2015-12-02 04:30] garethgreenaway commented on #151
Fedora Activity Day is not happening at SCALE 14x.

[2015-12-02 04:30] #151 closed

[2015-12-02 04:33] irabinovitch opened #161 "Special Event page for Yocto Developer Event"

[2015-12-02 05:29] garethgreenaway commented on #118
On second thought, the smaller ones do get more use.

[2015-12-02 05:35] rgolan commented on #160
I added a link to the main menu. If we need to display all the images on that page, I'll need to rework the view.

[2015-12-02 13:59] irabinovitch commented on #160
Thanks Ron.  I mostly interested in the view, assuming its not too much work.  I think giving people a preview will encourage them to use it more.

[2015-12-02 13:59] irabinovitch commented on #138
@geekhunter  hows the recording going? Would love to get it out to all the podcasts before they break for the holidays.

[2015-12-02 14:55] garethgreenaway commented on #118
Turns out 125x125 is too small for Facebook profile pictures.  Probably the reason we had the larger sizes last year.

[2015-12-02 16:47] ScislaC commented on #118
According to FB, this would be the closest match to what is displayed (and is their smallest allowable size 180x180)...
![attendee-webbadge-small](https://cloud.githubusercontent.com/assets/1201009/11537241/0686d8c6-98d1-11e5-8b51-4fc716353a58.png) ![badge-small1x](https://cloud.githubusercontent.com/assets/1201009/11537242/06904640-98d1-11e5-9c9b-936fde3d00aa.png)

Here is the Twitter sized one (

[2015-12-02 20:04] garethgreenaway commented on #118
Looks good!

[2015-12-02 20:13] #118 closed

[2015-12-02 20:25] garethgreenaway opened #162 "Issue with presentation links"
08:54   kaledann: Gareth: New problem.  If you access the presentation directly, and then click on Audience:Everyone and Topic:Youth, it links to something like https://www.socallinuxexpo.org/taxonomy/term/4
08:54   kaledann: https://www.socallinuxexpo.org/scale/14x/presentations/open-source-radio is where I saw it

[2015-12-02 22:31] ScislaC commented on #122
I've attached a couple things here... 1st is a purely SCALE branded cover. I am concerned though with how much redundancy we want with SCALE being all over the place (lack of prominent SCALE feels wrong though too).
![cover2](https://cloud.githubusercontent.com/assets/1201009/11546229/c792b682-9900-11e5-931d-a1db412b27ed.png)

2nd is a cover with the written out event name and 3rd is a profile pic

[2015-12-03 00:02] garethgreenaway commented on #122
The first one looks great!  I think we should go with that one.

[2015-12-03 00:26] irabinovitch commented on #122
Of the 2 I prefer the first one, but ideally troy / scale and the pasadena logo would be a bit more prominent. Im not sure anyone will connect the building itself with pasadena.

[2015-12-03 01:38] ScislaC commented on #122
Is this more appealing?
![cover4](https://cloud.githubusercontent.com/assets/1201009/11549476/3b53cdd0-991b-11e5-9a99-8c0df86c6c1d.png)

[2015-12-03 02:06] rgolan commented on #162
This should be fixed now.

[2015-12-03 02:51] rgolan commented on #160
I reworked the promo items page to show the images. Note that the banners are blocked by ad blocking software so you don't anything there now. I remember now that was the problem before. Let me know what you think we should do.

[2015-12-03 03:04] irabinovitch commented on #160
I vaguely recall we fixed it in the past by just renaming the files.

[2015-12-03 04:16] irabinovitch commented on #137
@joerenzullo  thanks for diving into this.  Were you able to get started?  I might have sometime to help next week so want to make sure we aren't duplicating submissions.

[2015-12-03 04:18] ScislaC commented on #122
Here's an approximation of what it would look like on the page with the last cover and the proposed year specific profile pic... I think people will get enough SCALE & Troy with the combo... :)
 (for the record, I don't have access to FB to change graphics, which is why I mocked this up)
![combined](https://cloud.githubusercontent.com/assets/1201009/11551802/9646d3f2-9931-11e5-9914-5892e2829b92.pn

[2015-12-03 04:23] lcafiero commented on #122
I think it's great. I already added it to the Facebook page. Thanks, Josh!

On Wed, Dec 2, 2015 at 8:18 PM, ScislaC <notifications@github.com> wrote:

[2015-12-03 04:35] ScislaC commented on #122
I'm not seeing it on either https://www.facebook.com/socallinuxexpo/ or the event page... (not questioning, just confused)

[2015-12-03 14:03] garethgreenaway commented on #162
Awesome.  Thanks!

[2015-12-03 14:03] #162 closed

[2015-12-03 14:06] garethgreenaway commented on #122
I can confirm it's there now and it looks great!

[2015-12-03 14:34] garethgreenaway opened #163 "Link to BoF signup page"
Will defer to Ron on the best place to put this, Hans and Jill put together a Google Form for the signup for BoFs.  Where can we link to it from the site?

[2015-12-03 15:14] garethgreenaway commented on #145
@ScislaC Thoughts on this one?  The design eg. number of colors, etc. can effect the price.

[2015-12-03 15:21] ScislaC commented on #145
We've been on 1 color for the past couple years, so it was my assumption that we were sticking to that.

[2015-12-03 15:23] garethgreenaway commented on #145
No worries, wasn't sure if you wanted to get crazy this year :)

[2015-12-03 15:26] garethgreenaway commented on #145
@ScislaC Thoughts on shirt color for this year?

[2015-12-03 16:42] ScislaC commented on #145
If we're going with the same style as last year, the Irish Green is available in all types.

[2015-12-03 16:55] irabinovitch commented on #163
I've built the page in the past and will set it up again.

[2015-12-03 16:56] irabinovitch commented on #158
thanks. all set.

[2015-12-03 16:56] #158 closed

[2015-12-03 16:57] irabinovitch commented on #153
@hriday  are we still waiting on a reply from them?

[2015-12-03 16:57] irabinovitch commented on #152
Sent another note to them.

[2015-12-03 16:58] ScislaC commented on #122
Since it appears we're sticking with the non year specific profile pic, can someone with access change it to this one since it will probably look a bit sharper?
![profile-pic-generic](https://cloud.githubusercontent.com/assets/1201009/11567430/e5c0f740-999b-11e5-9516-d500466b8ad4.png)

[2015-12-03 17:00] irabinovitch commented on #150
@garethgreenaway any news from bigtop? Happy to reach out to Nate or Konstantin if it'd be helpful.

[2015-12-03 17:00] irabinovitch commented on #149
Looks like the site is fully up and has reg info now, just need to create the event page on our end. Happy to help if needed.

[2015-12-03 17:01] irabinovitch commented on #148
@garethgreenaway Have heard back from Jim or Joe on this?

[2015-12-03 17:01] irabinovitch commented on #147
@garethgreenaway Thoughts on my feedback above?

[2015-12-03 17:01] garethgreenaway commented on #122
Done.

[2015-12-03 17:04] garethgreenaway commented on #148
The PostgreSQL page is on the site and has been published for a week or so.

[2015-12-03 17:04] #148 closed

[2015-12-03 17:09] garethgreenaway commented on #149
The UbuCon Summit event page is created and published on the SCALE site.  It has been up and available for a couple days.  It links to the UbuCon Summit page.

[2015-12-03 17:09] #149 closed

[2015-12-03 17:09] garethgreenaway commented on #150
I'm waiting to hear back from Nate on details.

[2015-12-03 17:13] garethgreenaway commented on #147
I'm actively working on the TNG event page and should have some updates later today.

[2015-12-05 22:48] #122 closed

[2015-12-05 22:48] irabinovitch commented on #123
@forgetpasword Just checking back in. Thanks!

[2015-12-05 22:49] #128 closed

[2015-12-05 22:57] irabinovitch commented on #138
@lcafiero @geekhunter do we think we might have something we can send out this weekend?

[2015-12-05 22:58] irabinovitch commented on #143
@lcafiero  ?

[2015-12-05 23:00] irabinovitch commented on #152
Sent another note. If we dont hear back by EOD Monday I'll let them know we're canceling their event.

[2015-12-05 23:01] irabinovitch commented on #153
@hriday I think you said we have this info now? Need help creating the page?

[2015-12-05 23:03] irabinovitch commented on #161
Pinged @ka6sox for info

[2015-12-05 23:04] irabinovitch opened #164 "Organize a method of ride share coordination"
With the event changing locations here carpooling and rideshare would be great to help more people get to the event.  Lets find a way to help folks who are interested in carpooling find each other.

[2015-12-05 23:11] joerenzullo commented on #137
@irabinovitch I have started, though haven't got more than about 10 done so far.

How do I update the list you posted?

-J

[2015-12-05 23:25] irabinovitch opened #165 "Additional banner ads"
- [x] 612px × 202px

[2015-12-05 23:27] irabinovitch commented on #137
@joerenzullo Awesome. you should be able to click the check box next to any item to mark it as complete.

[2015-12-05 23:47] irabinovitch commented on #124
@rgolan  It looks like the buttons reverted to 13x at some point. Can you take a look?

Facebook  - https://www.facebook.com/events/1598162047129055/
G+ - https://plus.google.com/b/117542657599667543533/events/cs11bfcssloncm48dj1334gli6c?pageId=117542657599667543533
Lanyard - http://lanyrd.com/2016/scale14x/

[2015-12-06 00:57] lcafiero commented on #143
Let me know where it is and I'll take care of it.

On Sat, Dec 5, 2015 at 2:58 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

[2015-12-06 01:16] geekhunter commented on #138
Yes, just finished and would like your input. Total length is 120 seconds. The last samples were 118 and 114 seconds so I hope that is OK. If I need to edit it down, let me know. The link to the files is:

https://drive.google.com/folderview?id=0B7ezZBKwK4d3WndIUUZCZ3RGU1E&usp=sharing

I can't upload to github since it doesn't support .mp3 and .m4a files.

[2015-12-06 01:32] ehammond commented on #137
More LA tech event calendars:

- SoCalTech.com Calendar: http://www.socaltech.com/calendar/calendar.php

- TechZulu Event Calendar: http://techzulu.com/events/

- TechVenue Los Angeles Calendar: http://calendars.techvenue.com/cgi-bin/techvenue.pl?CalendarName=Los_Angeles

- LA Tech Calendar: http://latechcalendar.com/

[2015-12-06 05:04] irabinovitch commented on #137
Thanks added to the list above.

[2015-12-06 05:07] rgolan commented on #124
I changed these again but I don't see how they could have been reverted with reverting the whole database.

[2015-12-06 17:33] hriday commented on #153
Yup, it's ready. And yes, I'll need some help with the page. Any pointers?

Here's the info:

Amateur Radio at SCALE

SCALE's getting into amateur in a big way this year, starting with offering
HAM exams. The tests will be conducted on Sunday, from 11 AM to 3 PM, at
our PCC venue. Walk-in's welcome.

We also have a special treat for all the HAM's and wannabe HAM's in
attendence. The Amateur Radio

[2015-12-06 17:51] irabinovitch commented on #153
Thanks Bala. I posted this for you as a blog post here:
https://www.socallinuxexpo.org/blog/amateur-radio-scale-14x

Once we have the exam and frequency details we can turn it into an event page as well.

[2015-12-06 18:02] #160 closed

[2015-12-07 14:21] garethgreenaway opened #166 "Color for Security Track"
The security track in the schedule needs a color.

[2015-12-07 18:23] geekhunter commented on #138
So far... no feedback on podcast promo. Larry, Ilan, do you have suggestions/comments? What would be next step?

[2015-12-08 00:25] irabinovitch commented on #152
Initial description published. https://www.socallinuxexpo.org/scale/14x/greater-la-drupal-camp
Schedule is still in flux.

[2015-12-08 04:03] rgolan commented on #166
I added a color for Security and while I was at it, I added one for Legal & Licensing too. Any idea why DevOps and General are showing up on the legend on Friday's schedule? I think something might be assigned to that day but outside of the times shown on the schedule.

[2015-12-08 04:07] garethgreenaway commented on #166
I found a few like that.  I can check the sign.xml and see which sessions are wrong.

[2015-12-08 04:08] rgolan commented on #166
Great idea!

[2015-12-08 04:21] garethgreenaway commented on #166
Can't find any Devops talks that are scheduled on the 22nd.

[2015-12-08 04:39] irabinovitch commented on #166
None of the devopsday talks are published yet, but they will all occur on Friday

[2015-12-08 04:58] rgolan commented on #166
I found this.
https://www.socallinuxexpo.org/node/1392/edit
This is what's causing General to show up, I think. It started in 2015 and ends in 2016. Still looking for the DevOps lurker.

[2015-12-08 05:50] rgolan commented on #166
I changed the schedule legend to only show tracks for which there is at least one published presentation. That got rid of the DevOps in the legend. Should that presentation by Deb Nicholson have been just on that day on 2/22/2015 ?

[2015-12-08 08:32] irabinovitch opened #167 "SCALE Stickers"
We've had a sponsor sign up to provide stickers to SCALE this year.  We just need to provide artwork.  I'd suggest starting with the same stickermule templates as last year.

@hriday @ScislaC

[2015-12-08 16:50] lcafiero commented on #138
I think it's fine. If there's no comments, let's just go ahead and go with
it.

On Mon, Dec 7, 2015 at 10:23 AM, Todd Cranston-Cuebas <
notifications@github.com> wrote:

[2015-12-09 01:06] irabinovitch opened #168 "Video Stream Artwork - Due 1/18"
@socallinuxexpo/scale-av has asked that we provide a background image for the video streams for this year.  Here are two examples from past streams.  The black areas will be replaced by speaker and projector video. If someone feels enterprising enough we could probably even make the background a video loop.
​​​​
SCALE 13x
https://drive.google.com/file/d/0BzUa2lspCgF2cTItQlZNRkJpZndmTE5QcHgwdVA5QnJ

[2015-12-11 00:34] irabinovitch opened #169 "Icons for SCALE Mobile App"
@hriday  has started working on the mobile app for SCALE this year. It's a mix of a badge scanning app and attendee guide. Anyways, the app developer is asking for the following assets.

- [ ]  App Icon 1024px by 1024px (used for app in play store, ideally just Troy?)
- [ ] Header Logo 300px by 60px  (must be transparent background)
- [ ] Splash Screen 480 x 320 (Loading page when app is starting)

[2015-12-11 00:35] irabinovitch commented on #169
@ScislaC FYI.  I've also pinged a few of the graphics volunteers who came via the volunteer form on the off chance they have time.

[2015-12-11 00:37] garethgreenaway commented on #169
@hriday is the code for this online somewhere?

[2015-12-11 00:38] irabinovitch commented on #169
Not at this time.

[2015-12-11 02:06] ScislaC commented on #169
@irabinovitch Thanks for the heads up. I have carved out some time tomorrow for some design time for a few high priority assets (things that need to be produced by third parties e.g. shirt, bag, & stickers) and will have these items in the queue after those things. BTW I did that additional banner ad size you requested a few days ago, but I need to tweak it more before submitting... that will like

[2015-12-11 07:28] irabinovitch opened #170 "logo not displaying for OpenX"
@rgolan  any idea what i might be doing wrong here?

https://www.socallinuxexpo.org/scale/14x/sponsor/openx

[2015-12-11 07:29] irabinovitch commented on #170
Nevermind. Adblock strikes again.

[2015-12-11 07:29] #170 closed

[2015-12-11 22:12] garethgreenaway opened #171 "Speaker link wrong"
https://www.socallinuxexpo.org/scale/14x/presentations/nomad-introduction-cluster-schedulers

speaker page links to:
https://www.socallinuxexpo.org/scale/14x/speakers/patrick-o%27connor

but should be:
https://www.socallinuxexpo.org/scale/14x/speakers/patrick-oconnor

[2015-12-12 01:44] rgolan commented on #171
The apostrophe is breaking it. I'll look at this weekend.

[2015-12-12 20:24] rgolan commented on #171
This is fixed now. I had to some string manipulation in a views template.

[2015-12-12 20:36] garethgreenaway commented on #171
Awesome!  Thanks Ron!

[2015-12-12 20:36] #171 closed

[2015-12-14 23:45] garethgreenaway opened #172 "Re-enable Keynote topic"
We have two keynotes in the system, can we re-enable the keynote topic to associate with those two talks.

[2015-12-15 02:48] rgolan commented on #172
I think the way we did this last year is we shut down the CFP so any speaker can't change their presentation to a Keynote. Or possibly, we just made the topic inaccessible to the speaker role. Would that latter option work or do we still have speakers creating presentations?

[2015-12-15 03:09] garethgreenaway commented on #172
Would be better, if we can, to disable it for the speaker role.  We always seem to need to have the CFP system left open into SCALE.

[2015-12-15 03:43] rgolan commented on #172
I'm not sure if I was clear. The topic field will be inaccessible to Speakers,  not just the Keynote topic. Is that ok?

[2015-12-15 03:45] rgolan commented on #172
I just thought of way to just exclude the Keynote topic from speakers. I could make some other roles able to assign it. Trying it now.

[2015-12-15 04:01] garethgreenaway commented on #172
i'm not seeing it as an option on this talk:
https://www.socallinuxexpo.org/node/2584/edit

[2015-12-15 04:02] rgolan commented on #172
I'm still working on it. It'll be there soon.

[2015-12-15 04:04] rgolan commented on #172
Do you see it now?

[2015-12-15 04:04] garethgreenaway commented on #172
Ah sorry. I misread your comment as "Try it now."  Let me take a look.

[2015-12-15 04:05] garethgreenaway commented on #172
Now I see it.

[2015-12-16 05:41] garethgreenaway commented on #172
All set!  Thanks!

[2015-12-16 05:41] #172 closed

[2015-12-16 05:43] garethgreenaway opened #173 "Expand cells in schedule slightly"
Can we expand the cells in the schedule slightly?  For some of the shorter sessions, eg. 15 minutes the title is cut off.  Dropping it down a bit would help a lot.

[2015-12-16 18:03] irabinovitch commented on #166
Fixed Deb's session from last year.  Are we still having an issue with DevOps sessions?

[2015-12-16 18:45] irabinovitch commented on #163
Created last week.  Embedded the form as an iframe on the event page and on the blog post again. We'll ask PR folks to schedule some tweets.

[2015-12-16 18:45] irabinovitch commented on #163
Created last week.  Embedded the form as an iframe on the event page and on the blog post again. We'll ask PR folks to schedule some tweets.

[2015-12-16 18:45] #163 closed

[2015-12-16 18:46] irabinovitch commented on #161
@ka6sox put me in touch with the Yocto folks directly. They're going to get me something this week.

[2015-12-16 20:11] irabinovitch commented on #156
@hriday  reminder that @ScislaC  needs specs to start work on 157

[2015-12-16 20:22] irabinovitch commented on #145
Did we decide on a style?

[2015-12-16 20:37] irabinovitch commented on #167
@ScislaC FYI the sponsor here is based in Italy so shipping may take some time.

[2015-12-16 20:38] #152 closed

[2015-12-16 20:40] irabinovitch commented on #165
@ScislaC  i think you said this one was ready/in progress?

[2015-12-16 20:40] irabinovitch commented on #164
Jill has suggested a public google doc. So far its the best option I've heard. Any one else have thoughts/objections/ideas?

[2015-12-16 20:41] irabinovitch commented on #150
Looks like this was created:
https://www.socallinuxexpo.org/scale/14x/apache-bigtop-workshop

[2015-12-16 20:41] #150 closed

[2015-12-16 20:42] irabinovitch commented on #137
@joerenzullo still working on this one?

[2015-12-16 20:50] irabinovitch commented on #137
Looks like someone grabbed the pasadena star. So I've checked that off.  We're actually listed there about 5 times.

[2015-12-16 20:59] garethgreenaway commented on #145
@ScislaC Any ideas for a design this year?  Let's go with the irish green color.  Perhaps something using elements of Pasadena?

[2015-12-16 21:24] joerenzullo commented on #137
@irabinovitch I am! I'm responsible for at least one of the Pasadena Star entries (possibly two?).

This week I'm socked in with final exams and grad school applications, but from Saturday on I'll have the time to handle whatever remains incomplete on this list.

-Joe

[2015-12-16 21:27] joerenzullo commented on #137
@irabinovitch Also, at least for me on Chrome in Linux, the checkbox isn't editable by me. But I'll keep my own list and post here occasionally if it ends up taking more than a day for me to finish (so that we don't duplicate work).

[2015-12-16 21:28] ScislaC commented on #145
I'm working on the design. I'm playing catch up atm as I had some health related delays force me to push things back...

[2015-12-16 21:32] garethgreenaway commented on #145
Okay cool.  Let me know if/how I can help at all.

[2015-12-16 22:43] irabinovitch commented on #137
@joerenzullo tried upping your perms a bit let me know if that works.

[2015-12-17 00:11] sbibayoff commented on #164
I was going to try to throw something together real quick. Something where you give the days you are going to attend and your zip code, then you will get emailed suggestions of people who are close to you, or close to your route to suggest contacting and car pooling.

If that sounds like something Scale would like, could you give me a ~week (dec 23) to see what how much I could do before the end o

[2015-12-17 00:12] joerenzullo commented on #137
@irabinovitch That worked!

I'll update what I've done as soon as I get a chance.

[2015-12-17 00:17] ScislaC opened #174 "Bag Art for 14x"
I had been in communication with Bala off-track about this. Here is the proposed design.

![bag2c](https://cloud.githubusercontent.com/assets/1201009/11857736/e31f7574-a40f-11e5-8303-9481cfc30d68.png)

[2015-12-17 00:25] irabinovitch commented on #174
Cool. What color would the bag and print be?

[2015-12-17 00:29] garethgreenaway commented on #174
@ScislaC This looks awesome!  A black bag with white ink would look awesome with this design.

[2015-12-17 00:32] ScislaC commented on #165
Yeah, I have one I'm not thrilled with (layout-wise), but it's something.

![612x202](https://cloud.githubusercontent.com/assets/1201009/11858028/831eefd0-a412-11e5-9b1f-a709878a8bbc.png)

[2015-12-17 00:41] irabinovitch commented on #164
@sbibayoff Sounds interesting.  Happy to give you a bit to hack on the idea before we announce the spreadsheet. Let us know how we can help.

[2015-12-17 01:14] ScislaC commented on #174
I'm pretty open to colors. My thought would be either green w/ yellow ink or Gareth's black bag w/ white is cool by me too... so, here's the simulated colors.

![bag2c-](https://cloud.githubusercontent.com/assets/1201009/11858570/ad57194e-a417-11e5-9789-9ef279ad1c35.png)
![bag2c--](https://cloud.githubusercontent.com/assets/1201009/11858659/4327b2f8-a418-11e5-81c1-270519e31508.png)
![bag2c---](htt

[2015-12-17 01:16] ScislaC commented on #174
Ahhh... moot discussion, apparently the bag provider only has one color in January.

[2015-12-17 01:19] irabinovitch commented on #174
Hot pink right?

[2015-12-17 01:22] hriday commented on #174
Dirty blonde.

Actually navy blue

On Wed, Dec 16, 2015 at 6:19 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

[2015-12-17 01:35] irabinovitch commented on #161
initial blurb up. more info next week.
https://www.socallinuxexpo.org/scale/14x/yocto-project

[2015-12-17 01:35] #161 closed

[2015-12-17 04:16] garethgreenaway commented on #174
The ones from last year were navy right?  Navy + White would look sharp.

[2015-12-17 05:00] rgolan commented on #166
I fixed the DevOps thing.

[2015-12-17 05:07] rgolan commented on #173
I don't know what to do with those. If I expand 15 minute sections to accommodate that then 1 hour sections will too much empty space. I'm wondering if we should have a 'hide from schedule pages' checkbox in the presentation so it will show up in the presentation pages but not the schedule and then the schedule could have a large event with a link to another page with detailed schedule. I think we

[2015-12-17 05:32] garethgreenaway commented on #173
We could try that.  One question I have, how will those show up in the XML and consequentially on the signs?

[2015-12-18 02:16] irabinovitch commented on #137
Sounds good. Thanks.

[2015-12-19 20:08] irabinovitch opened #175 "remove unused rooms from schedule"
Saturday and Sunday
===
Ballroom GH
Room 207
Room 208

[2015-12-19 21:02] irabinovitch commented on #138
Thanks Todd! We've submitted this to a number of podcasts.  Appreciate your help!

[2015-12-19 21:02] #138 closed

[2015-12-19 23:04] rgolan commented on #175
I've disabled those rooms from appearing in Saturday's or Sunday's schedule.

[2015-12-20 00:12] geekhunter commented on #138
NP glad to help out!

TCC

On Saturday, December 19, 2015, Ilan Rabinovitch <notifications@github.com>
wrote:

[2015-12-21 01:07] joerenzullo commented on #137
@irabinovitch

Just did the Pasadena Weekly, OC Register, City of Pasadena, Discover Los Angeles, and marked a few of the ones I had already done.

Will continue to update the list as I go through it. Now that my semester is over and finals are out of the way, I'll have much more time to devote to this!

[2015-12-21 01:48] irabinovitch commented on #137
Thanks! Congrats on finals being over.

[2015-12-21 05:47] irabinovitch commented on #175
Thursday
=========
Ballroom G
Ballroom H
Ballroom GH
Ballroom IJ
Ballroom I
Ballroom J
Room 104
Room 105
Room 104/105
Room 211
Room 209
Room 210
Room 209/210

208 Break Room
205 NOC
215 NOC

Friday
========
Ballroom A
Ballroom B
Ballroom F
Room 103
Room 209
Room 210
Room 209/210

Sunday
=========
Room 212/214

[2015-12-21 23:05] rgolan commented on #175
I've disabled the listed room on those days but many of those rooms were not even in the website schedule at all. Please check the production site to confirm that the proper rooms are now being displayed.

[2015-12-21 23:15] irabinovitch commented on #175
Thanks Ron. Looks good so far. will ask others to take a look as well.

I'm  trying to think if what we should Ballroom DE. It just has the keynotes in the morning, and empty rest of the day.

[2015-12-22 00:45] garethgreenaway opened #176 "Artwork for Entrance Units - Due 1/8"
Size specifications for artwork:
https://dl.dropboxusercontent.com/u/40455/SCALE/14x/entrance_units/ENTRANCE-UNIT.pdf

Guidelines:
https://dl.dropboxusercontent.com/u/40455/SCALE/14x/entrance_units/60GraphicsDigitalFilePreparation.pdf

Uncharted waters since we've never done this before but let me know if you have questions. :)

[2015-12-22 01:08] irabinovitch commented on #176
Where will these be located?  We likely need to include sponsor artwork on these  depending on location.  Do we have a cost on these? or are they included in the existing agreement?

[2015-12-22 01:16] garethgreenaway commented on #176
They will likely be located at the entrance to the exhibit hall.  The price is not include in the agreement, but I believe it was called out in the proposal.  I can send the information along if you need it.

The two side panels (PA.3) would be a good location for any sponsorship logos.

[2015-12-22 01:31] garethgreenaway opened #177 "Artwork for Aisle Signs - Deadline 1/8"
Signs in exhibit hall hanging from the ceiling indicating the aisle blocks, eg. 700 block.  Will have more information on this tomorrow.

[2015-12-22 01:57] garethgreenaway commented on #175
@rgolan While we're hiding the unused rooms, can we add in the Exhibit Hall, so we add the hours for that to the schedule.

[2015-12-23 00:47] rgolan commented on #175
Is the 'Exhibit Hall' a separate room that can be labeled 'Exhibit Hall' in our system or is it a space that is also used for other events that are already in the schedule?

[2015-12-23 00:51] irabinovitch commented on #175
Theres a room at the venue called Exhibit Hall A and Exhibit Hall B.  I would just list them as "Exhibit Hall"

[2015-12-23 16:52] rgolan commented on #175
Which days should Exhibit Hall appear in the schedules?

—
Ron Golan
rgolan@superconcentrated.com

[2015-12-23 16:52] garethgreenaway commented on #175
Friday, Saturday and Sunday

[2015-12-23 17:05] rgolan commented on #175
I’ve added Exhibit Hall as a room option and added it to the schedules for Friday, Saturday and Sunday. It’s way off on the right. If you want it moved to the far left, let me know.

—
Ron Golan
rgolan@superconcentrated.com

[2015-12-23 17:17] garethgreenaway commented on #175
Excellent.  I've added the exhibit hours to the schedule.  Thanks!

[2015-12-27 20:48] irabinovitch commented on #177
@garethgreenaway  Did we get the specs for this on Tuesday?

[2015-12-27 20:51] #169 closed

[2015-12-27 22:56] irabinovitch commented on #147
Any luck on this one? With the schedule up it would be great to have a landing page that sells the event to teachers and parents, along with a schedule.  We should also include instructions for how kids who want to register to attend should do so. (eg do kids need to pay? which pass $75, $15?)

Would like to send this to all the schools in the Pasadena area, but theres not much info for them to go

[2015-12-28 02:32] irabinovitch commented on #166
Cool. Closing. Thanks!

[2015-12-28 02:32] #166 closed

[2015-12-29 06:22] #124 closed

[2015-12-29 11:04] irabinovitch commented on #164
@sbibayoff Hope you had a good holiday. Just checking in to see if you had a chance to hack on this. Thanks!

[2015-12-30 08:44] sbibayoff commented on #164
Been looking into it. Original idea was too ambitious(and a full plate on my end).

Backup plan is putting up a forum/bulletin-board with premade subjects of geographical areas(OC, SFV, IE, SGV, West Side, etc..). With a map with push pins of locations of people who need a ride or could offer a ride their location hyper-linked with their post.

Be done by Sunday, Jan 3.

[2015-12-30 16:05] #175 closed

[2015-12-30 16:05] #173 closed

[2015-12-30 16:05] garethgreenaway commented on #173
Found a workaround.

[2015-12-30 16:06] garethgreenaway commented on #145
@ScislaC Any updates on the tshirt design?

[2015-12-30 19:55] irabinovitch commented on #176
@garethgreenaway Do we have the deadline on when these would be needed?

[2015-12-30 19:56] irabinovitch commented on #177
@garethgreenaway ping?

[2015-12-30 20:00] irabinovitch opened #178 "Floor Graphics - Due 1/10"
Via a recent sale at Sticker Mule and their sponsorship we have an opportunity for (10)  24"x"24 or 36"x36"  floor graphics to place around the venue.   These are removable and weather resistant.

They could be used for directional signs, general SCALE branding of the building, or anything else we have in mind.

If we want to order this, the due date is: 1/10.

https://www.stickermule.com/products

[2015-12-30 20:00] irabinovitch commented on #174
@hriday do we have a due date for this one? just trying to help get all our requests prioritized.

[2015-12-30 20:03] hriday commented on #174
Bags have been ordered. And paid for. All I need is the shipping address.

On Wed, Dec 30, 2015 at 1:01 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

[2015-12-30 20:09] irabinovitch opened #179 "Outdoor Banners at Convention Center - Due Date TBD"
During the last onsite tour @ScislaC  had asked about getting the lampost banners SCALE branded. PCC has confirmed we can brand the buildings and lamp posts if we'd like.  Links to specs below.

Lets chat about what makes sense given we're already doing #178 and #176 .  The hanging cost is $100 per banner, in addition to whatever the banner printing itself would cost.    Ideally we'd look for non

[2015-12-30 20:14] irabinovitch commented on #123
@forgetpasword hey, happy new year! just wanted to check back in and see if you still might be interested in giving this a shot.

[2015-12-30 20:15] irabinovitch commented on #156
@hriday Are we set with Josh on this one?

[2015-12-30 20:15] irabinovitch commented on #174
Ah perfect. Closing. Wil lsend you shipping info shortly.

[2015-12-30 20:15] #174 closed

[2015-12-30 20:18] irabinovitch commented on #145
@garethgreenaway Trying to help josh prioritize the order the ever increasing number of design requests need to be done in.  Can you help add a due date to the title of the ticket? We're using the due date to determine the order in which we're tackling them.

[2015-12-30 20:21] #153 closed

[2015-12-30 20:27] hriday commented on #156
Mostly. Final touches with the printers remaining.

On Wed, Dec 30, 2015 at 1:15 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

[2015-12-30 20:33] garethgreenaway commented on #176
@ScislaC FYI, Blaine would need the artwork for the entrance panels by Friday January 8th

[2015-12-30 20:35] irabinovitch commented on #176
@garethgreenaway same 1/8 due date as #177 ?

[2015-12-30 20:40] garethgreenaway commented on #177
@ScislaC Here is the information for the aisle signs:
https://dl.dropboxusercontent.com/u/40455/SCALE/14x/aisle_signs/BCS_Stock_Aisle_Banner.pdf

And some examples:
https://dl.dropboxusercontent.com/u/40455/SCALE/14x/aisle_signs/Stock_aisle_sign.jpg
https://dl.dropboxusercontent.com/u/40455/SCALE/14x/aisle_signs/WPSS%20%20copy.jpg

For the one without logo no work necessary on your part.

Deadline

[2015-12-30 20:57] irabinovitch commented on #147
I know folks are busy with the holidays, but I want to get these out first thing Monday so they have time to coordinate chaperones, travel, etc.  Unless I hear otherwise, I'll work on fixing the content with the feedback above over the weekend.

[2015-12-30 20:59] garethgreenaway commented on #147
I'm planning on working on the TNG event page today, have been waiting on some additional information.

[2015-12-30 21:34] irabinovitch commented on #139
Invites sent out to all of the above.

[2015-12-30 21:34] #139 closed

[2015-12-30 21:35] irabinovitch commented on #156
OK. Closing then since requirements were provided.

[2015-12-30 21:35] #156 closed

[2015-12-31 19:28] ScislaC commented on #177
@garethgreenaway Okay, so they have their stock aisle signs and I would need to produce the artwork for ones akin to the WPSS ones? If so, that appears to be wider than their stock aisle signs, so I would just need to know the width then (I'm assuming the height would be the same as listed in that PDF).

[2015-12-31 19:32] garethgreenaway commented on #177
@ScislaC Let me find out the size for that one.  Might not hear back from them until next week.

[2015-12-31 20:27] garethgreenaway commented on #177
@ScislaC Contact at Blaine need to confirm but he believes it's 4' x 8', we'll know for certain on Monday.

[2016-01-01 19:34] garethgreenaway opened #180 "List of Room Sponsors - Deadline 1/18"
Need the list of what groups are sponsoring what rooms to update the in room sign software.

[2016-01-02 21:44] irabinovitch commented on #167
Sticker order completed earlier this week.

[2016-01-02 21:44] #167 closed

[2016-01-02 22:38] irabinovitch commented on #145
*bump* re: due date.

[2016-01-02 22:55] garethgreenaway commented on #145
I updated the title with a TBD and once I know the date I'll update it, and continue working with Josh on the design. Given the holidays last week, the vendor was closed, I'd imagine I'll hear back from them on Monday.

[2016-01-04 20:25] garethgreenaway commented on #180
Thoughts on this?

[2016-01-04 20:39] irabinovitch commented on #180
As in past years, it wont be ready until the week before the event at the earliest.  Too many last minute sponsors for this option.

[2016-01-04 20:41] garethgreenaway commented on #180
Yup.  That's why the deadline is the 18th of January.  Are there any sponsors so far?  Even if they're not official, it's not something that will be publicly visible until everything is setup at the PCC anyways.

[2016-01-04 20:52] garethgreenaway commented on #145
@ScislaC FYI, updated the deadline for the artwork on the shirts.

[2016-01-05 02:09] irabinovitch commented on #164
@sbibayoff thanks. let us know how it goes.  We'd like to put something out this week since we're only about 16 days till the conference.

[2016-01-07 08:20] sbibayoff commented on #164
@irabinovitch
Got it done. Used Wordpress, bbPress, and OpenStreetMap. Need to clean it up and make it "pretty" (then upload to public host).

Give me a day or two (Friday?). Sorry for the delay.

[2016-01-07 18:23] garethgreenaway commented on #145
Artwork for all 3 designs sent off to the vendor.  Thanks @ScislaC!

[2016-01-07 18:23] #145 closed

[2016-01-07 23:08] ScislaC commented on #177
@garethgreenaway I just wanted to follow up and ask if they have provided specs yet.

[2016-01-07 23:18] ScislaC commented on #176
Just following up from earlier discussion.
@irabinovitch Did these need (or do we want) to have sponsor artwork on them?
@garethgreenaway How many of these will there be?

[2016-01-07 23:25] garethgreenaway commented on #177
Let me follow up with them on that.

[2016-01-07 23:30] garethgreenaway commented on #177
The dimensions for the custom bit would be 48" x 96"h

[2016-01-07 23:31] garethgreenaway commented on #176
@ScislaC I believe we would only have one of these.

[2016-01-07 23:32] irabinovitch commented on #176
@ScislaC Yes, we need to include the HP logo on these.

[2016-01-07 23:53] ScislaC commented on #178
@irabinovitch @garethgreenaway Any thoughts on what we want to do with these? Can they go on the aisle carpets in the Expo Hall? Do we want them by entry doors welcoming people?

[2016-01-07 23:55] irabinovitch commented on #178
@ScislaC My thought was to spread them around the venue, halls and entrances. Or on the side walk between the two buildings

[2016-01-07 23:56] ScislaC commented on #178
So is 10 how many we ended up with?

[2016-01-07 23:58] irabinovitch commented on #178
@ScislaC We have 10 at the moment. We can probably cut back or add a few more.

[2016-01-07 23:59] garethgreenaway commented on #178
If we're using as directional signs, the hallways outside the exhibit hall and the ballrooms would be good.  The areas in the lower level in the conference center side also.  Maybe a couple generic ones with the SCALE logo on it in various places.  A couple as directional signs in registration too.

[2016-01-08 06:46] ScislaC commented on #177
Okay, one last Q... is this one single design or are there multiple design opportunities? If multiple, how many (I have a fun idea, but would need numbers to do it right)?

[2016-01-08 07:08] garethgreenaway commented on #177
We can have multiples but we pay $270 per design.

[2016-01-08 07:34] ScislaC commented on #177
I'm kind of lost... Is it 270 per banner (minus the install/removal fees)
or 270 per distinct design (potentially plus more for physical production
and the separate related labor fees)?

How many banners are we currently assuming either way?

Cheers,
Josh
On Jan 7, 2016 11:08 PM, "garethgreenaway" <notifications@github.com> wrote:

[2016-01-08 08:53] irabinovitch commented on #177
According to the contract:
They will print One sign per aisle free if we dont customize.  But will charge $250 to hang it.
If we customize the artwork it's an additional $275 per sign, not per design.

I'm thinking we might want to skip this entirely.  If I'm reading this all right it'd be

Custom Artwork:  (250+275)*7 =$3,675
No Design  250*7 = $1750.

I dont think this is a good use of our funds

[2016-01-08 09:02] irabinovitch commented on #177
If we feel need this type of direction we can probably get the floor stickers from sticker mule at *much* cheaper.

[2016-01-08 15:56] garethgreenaway commented on #177
It is $250 / sign to hang, so without a custom design it would be $1750.  I can check with Blaine and clear up the confusion for the custom signs, if we want to move forward on them.  If not, we can scrap it and go with something from Sticker Mule instead.

[2016-01-08 15:59] ScislaC commented on #177
I'm not suggesting it, but we could likely get a number of other more diversified things produced for that amount of money. Speaking of which, are we doing any banners or anything for any walls?

[2016-01-08 16:02] garethgreenaway commented on #177
Let's skip them then.

[2016-01-08 20:16] #177 closed

[2016-01-13 00:59] garethgreenaway opened #181 "Talk Time and Room Missing for Anonymous"
Talk Time and Room Missing for presentation pages for Anonymous users.

[2016-01-13 03:46] rgolan commented on #181
Could you point to a specific page?

[2016-01-13 03:48] garethgreenaway commented on #181
I believe it's any of them:
https://www.socallinuxexpo.org/scale/14x/presentations/keynote-2
https://www.socallinuxexpo.org/scale/14x/presentations/broken-linux-performance-tools

Only if you're logged out.

[2016-01-13 03:51] rgolan commented on #181
I see. I guess we had it off while the schedule was being created and didn't turn it back on. I'm looking into it now.

[2016-01-13 03:52] garethgreenaway commented on #181
Thanks!

[2016-01-13 03:57] garethgreenaway commented on #176
Artwork sent off to vendor.

[2016-01-13 03:57] #147 closed

[2016-01-13 03:58] garethgreenaway opened #182 "Evening Entertainment Topic"
Enable Evening Entertainment topic for presentations so we can flag events like Weakest Geek & Game Night.

[2016-01-13 04:02] garethgreenaway opened #183 "GLAD Camp Topic"
Add a GLAD Clamp Topic

[2016-01-13 04:04] garethgreenaway opened #184 "Add SpeakerTraining Topic"
Add SpeakerTraining Topic

[2016-01-13 04:05] irabinovitch commented on #184
We shouldn't create new tracks for single sessions. This is a half day tutorial which means it fits into SCALEU and is labeled as such on the website right now.

[2016-01-13 04:08] garethgreenaway commented on #184
It's not a SCALEU track and has not been advertised as such.  Please don't close my tickets.

[2016-01-13 04:08] irabinovitch commented on #183
I dont believe we have a track called Drupal.  We have an event called GLAD Camp

[2016-01-13 04:09] irabinovitch commented on #182
That option exists for notices, which are a better fit for these since they aren't tied to individuals.

[2016-01-13 04:10] irabinovitch commented on #184
SCALE U is anything thats a 1/2 day tutorial.

@rgolan  please skip this.

[2016-01-13 04:12] garethgreenaway commented on #182
The notices did not appear on the digital signs, which is the reason I'm asking to include the Evening Entertaining topic, which we had last year.  Again, I would ask that you please stop closing my tickets.

[2016-01-13 04:13] irabinovitch commented on #176
Where was it sent?  HP should have been given a chance to approve since it needs to have their artwork on it.

[2016-01-13 04:14] irabinovitch commented on #182
Please fix the signs to use notices then.  Please do not use presentations for content without an associated speaker.

[2016-01-13 04:15] garethgreenaway commented on #176
It was sent to Blaine, you can send them this:
https://dl.dropboxusercontent.com/u/40455/SCALE/14x/entrance_units/EntUnit.pdf

[2016-01-13 04:15] irabinovitch commented on #184
Re-adding my comment which was deleted.  Any session which is a 1/2 day tutorial falls within the SCALE training program that was SCALE U.  @rgolan  please hold off on this ticket.

[2016-01-13 04:16] irabinovitch commented on #176
Thats not the right logo. These needs to be canceled immediately.

[2016-01-13 04:17] rgolan commented on #181
That's fixed now.

[2016-01-13 04:18] garethgreenaway commented on #182
The notices do not show up in the XML that is generated by the website, so we use presentations for events that we want to show up on the digital signs.  This is the way this has worked for several years, without issue.  If we change things now to include noticed it's a lot more work for Ron to change and a lot more work for me to filter out breaks & lunches, and other items that should not be on

[2016-01-13 04:19] garethgreenaway commented on #181
Thanks Ron!

[2016-01-13 04:19] #181 closed

[2016-01-13 04:23] ScislaC commented on #176
@irabinovitch Where are the current logos? A few years ago they had used a more 3d looking logo and but somewhere in the last couple years they did the flattened rebranding (such as if you go to hp.com).

[2016-01-13 04:24] irabinovitch commented on #176
Dropbox should have a zip file containing the current current set of logos.

[2016-01-13 04:28] ScislaC commented on #176
@irabinovitch I don't know that I have received an invite or link for a dropbox folder containing these types of resources (I've received links for specific items).

[2016-01-13 04:43] ScislaC commented on #176
@irabinovitch OK, got it. The issue was it was Hewlett Packard Enterprise, not HP... that's why I was confused. Will get it corrected.

[2016-01-13 04:45] ScislaC commented on #176
@irabinovitch We also have a Registration Display as well which will be produced sometime tomorrow. Does they need to be represented there as well? Regarding this display, did you want any additional text by their logo such as "Sponsored by" or "With generous support from" or something of that nature?

[2016-01-13 04:57] irabinovitch commented on #176
"Sponsored by" works.

[2016-01-13 05:50] #184 closed

[2016-01-13 06:00] ScislaC commented on #176
@irabinovitch Feedback welcome. If it looks okay by you, please run by HPE. https://www.dropbox.com/s/7fouvj0uhpf1sni/PA3-right-hpe.pdf?dl=0

[2016-01-13 06:14] garethgreenaway commented on #176
What are we having HPE approve?  Can we have Blaine begin printing the other pieces while we're waiting for HPE to approve the logo on PA3-right?  Or does their sponsorship agreement include approval over the entire entrance unit design?

[2016-01-13 06:17] ScislaC commented on #179
For example on the Conference Center we could do the 26' with "Southern California Linux Expo" and with the vertical flanking banner(s) being year specific. We could do Troy on the Left flank, and the stacked SCALE 14x 2016 on the Right flank for example. Lamp posts seem like the type of thing that tend to be year specific. Thoughts?

[2016-01-13 06:22] garethgreenaway commented on #179
+1

[2016-01-13 06:33] irabinovitch commented on #179
Hi Josh, We have a 2 non year specific large banners although I think they are either 6' or 9' rather than 26' sot hey probably dont fit here  We've had those for a few years though, so its probably reasonable to replace them with larger units, or move them indoors.

Anyways, yes, I had similar thoughts about a SCALE banner horizontal and Troy on one or both sides. Although I'm trying to use SCALE

[2016-01-13 06:44] ScislaC commented on #179
Good to know about the focus on branding. I try to not abuse the fully spelled out one, but in cases like and on the Entrance Unit where it's a rather long horizontal space that isn't very tall vertically it makes for a good filler of space.

As for the vertical flank banners on, I could totally go either way. I'm a fan of symmetry, so I definitely wouldn't oppose the same design on both sides.

[2016-01-13 18:53] irabinovitch commented on #179
Looks like we aren't going to be able to use the lamp posts.  Someone else has something up.  Trying to get details on that...

[2016-01-13 18:55] garethgreenaway commented on #176
@irabinovitch Did we hear back anything from HP?  Blaine is waiting to go to print, if they can begin printing the other panels while we wait that would be great.

[2016-01-13 18:56] irabinovitch commented on #179
I've got quotes from a few local vendors, and a few out of town vendors. Out of town is significantly cheeper, but requires artwork today or tomorrow at the latest due to shipping either cross country or internationally.

[2016-01-13 19:04] irabinovitch commented on #176
I sent it to them at 10pm pst last night. I'll give them until noon today
and call them.

On Wed, Jan 13, 2016 at 10:55 AM, garethgreenaway <notifications@github.com>
wrote:

[2016-01-13 19:33] garethgreenaway commented on #176
To confirm, we're waiting on all printing before HPE approves the design.

[2016-01-13 20:47] garethgreenaway commented on #176
@irabinovitch After noon, any updates?

[2016-01-13 20:57] irabinovitch commented on #176
All set. Just spoke with them. Thanks

On Wed, Jan 13, 2016 at 11:33 AM, garethgreenaway <notifications@github.com>
wrote:

[2016-01-13 21:05] garethgreenaway commented on #176
Thanks.  New graphics uploaded to Blaine and they'll begin printing.

[2016-01-13 23:13] #176 closed

[2016-01-14 05:24] #182 closed

[2016-01-18 10:32] #178 closed

[2016-01-18 10:32] #165 closed

[2016-01-18 10:32] #143 closed

[2016-01-18 10:33] irabinovitch commented on #164
@sbibayoff Ping?

[2016-01-18 20:57] #157 closed

[2016-01-18 20:57] irabinovitch commented on #179
ordered

[2016-01-18 20:57] #179 closed

[2016-01-19 12:30] sbibayoff commented on #164
@irabinovitch
Still working on it. What I had done had some serious issues. Got the forum working. I still need to work on the map. Also I'm trying add custom fields to the registration so it will be easier to integrate with the map when I get that working.

Latter today, very basic but functional (hopefully?)

[2016-01-20 10:04] sbibayoff commented on #164
@irabinovitch

http://scaloop.org
functional (barely? maybe?). User could register and start adding posts. Hopefully tomorrow (today, Wed) I add the rest of the functionality.

[2016-01-21 10:04] ScislaC commented on #168
Here's one for this year. It is sized for 4k (I highly doubt we're using it at any level, but it's easier to scale down)... ![video1](https://cloud.githubusercontent.com/assets/1201009/12477092/62edd9ce-bfe2-11e5-82d4-9346dfa94adc.png)

[2016-02-12 23:18] #183 closed

[2016-02-12 23:47] jaymzh opened #185 "Demographic data dump"
Ron - can you provide me a dump of the CFP demographic data for analysis?

We can use dropbox or some other reasonable safe mechanism you prefer.

[2016-02-13 07:23] irabinovitch commented on #185
Do you need similar data from reg?
On Feb 12, 2016 3:47 PM, "Phil Dibowitz" <notifications@github.com> wrote:

[2016-02-13 07:38] jaymzh commented on #185
I do - but that comes from Lei - see chairs list for that discussion. :)

[2016-02-13 15:27] rgolan commented on #185
I can do that in a few ways. I'm thinking that a csv file with user ID and demographic fields only would be enough. Do you need names or any other data?

[2016-02-14 02:14] jaymzh commented on #185
I would like names (which is why we should use a secure transport) to de-dup them with other mechanisms of cutting this data. We'll publish only non-identifying stats, of course.

[2016-02-15 17:52] rgolan commented on #185
I’ve created a CSV export on my local installation in the form below. Let me know if you want other data added. 1,629 users exist in this database, many of which have not filled in the all the fields.

"Uid”,"Name","Postal code","Age","Gender","Created date"
"1","Ron Golan","","","","2012-08-04 08:37"

—
Ron Golan
rgolan@superconcentrated.com

[2016-02-15 18:07] rgolan commented on #185
I just noticed there are a lot of spam users in the database which have the same first and last name. If you want, I can make the first and last names separate fields and you can remove them from your analysis.

—
Ron Golan
rgolan@superconcentrated.com

[2016-02-16 01:35] jaymzh commented on #185
Separating first/last name would be great. This looks like all the data I need. I can imagine wanting to follow up on a few emails to ensure I'm de-duping correctly, but I don't think I'll need them in general.

[2016-02-16 03:25] rgolan commented on #185
I’ve got a CSV file with all that information. The email associated with my Dropbox account is ron@urbaninsight.com <mailto:ron@urbaninsight.com>. Do you want to share a folder with me?

—
Ron Golan
rgolan@superconcentrated.com

[2016-02-16 03:29] jaymzh commented on #185
Done.

[2016-02-16 03:32] rgolan commented on #185
I added the demographic-data.csv file to that folder. Let me know if you need the file to be modified.

—
Ron Golan
rgolan@superconcentrated.com

[2016-02-16 03:55] jaymzh commented on #185
Oh. I just realized... do you have data on if they got a talk accepted this year? I can do the manual correlation myself, but if it's in the DB, that'll save me a boatload of time.

[2016-02-16 04:39] rgolan commented on #185
I added the SCALE event, Accepted status and talk title in demographics-data2.csv. This has the effect of giving speakers with multiple talks, multiple rows. You’ll need to deal with that.

If you are really just interested in users that submitted talks for 14x, I can filter everything else out. I thought you might want to make a comparison between 13x and 14x.

—
Ron Golan
rgolan@superconcentrate

[2016-02-16 07:45] jaymzh commented on #185
A few quick greps and cuts shows I can easily got this data the way I need. It'll take a bit, but this is perfect thanks. I'll come back if I feel like I'm missing anything. I look forward to publishing my findings!

[2016-02-16 07:45] #185 closed

[2016-03-06 22:38] jaymzh opened #186 "Updating the link to the CoC"
Hey Ron,

The Code of Conduct is super buried on the site. A few people reached out this year to ask if we can make it easy to find. Would it be possible to have a link to it on the footer of the site along with "Contact Us" and "About SCALE" and such?

[2016-03-07 04:45] rgolan commented on #186
Hi Phil,

I added a link in the footer menu. Please see if that going to the page you want.

—
Ron Golan
rgolan@superconcentrated.com

[2016-03-07 06:23] jaymzh commented on #186
Perfect, thanks Ron!

[2016-03-07 06:25] #186 closed

[2016-03-12 02:46] #180 closed

[2016-03-12 02:47] #168 closed

[2016-03-12 02:47] #120 closed

[2016-03-12 02:47] #121 closed

[2016-03-12 02:48] #123 closed

[2016-03-12 02:48] #140 closed

[2016-04-22 04:39] irabinovitch opened #187 "Recruit leads for each SCALE track."
As per the SCALE Chairs meeting a new role of track lead has been created created.  Each track lead is responsible for coordinating and developing their track based on the feedback/votes from other team members. During the CFP they will provide a description of the goals of the track so as to provide clear selection criteria for voters, as well as to help submitters better target their content.

T

[2016-04-22 04:49] irabinovitch opened #188 "Publish Policy regarding SCALE passes for Kids"
During the SCALE Chairs meeting we agreed that kids under 18 will receive a free pass to scale, if they are attending with an adult.  Lets update our registration pages sand policies to include this information.

[2016-04-22 04:51] irabinovitch opened #189 "Recruit volunteer to focus on keynote planning / coordination"
Planning for the SCALE keynotes on Saturday and Sunday has become a large time investment.  As per the SCALE Chairs meeting, Shyam has taken on an action item of recruiting someone to lead and coordinate keynote related content.

[2016-04-22 04:53] irabinovitch opened #190 "Announce Call For Papers"
We would like to announce our call for papers in May. It will open sometime around May 16th, and close the last Friday in October. This ticket will track any changes to the CFP text, and the announcement process.

[2016-04-22 04:54] irabinovitch opened #191 "Raise Expo Only Pass Pricing"
During the SCALE-Chairs meeting it was agreed that Expo Only passes should be raised to $20 when onsite/paying in cash to reduce the need for making change.

[2016-04-22 04:56] irabinovitch opened #192 "Ticket and Registration Proposal"
Lei has offered to refactor our ticket options to simplify them and ensure they are easily understood by attendees.

Issue we'd like to solve:
- Make it clear what each ticket includes access to.
- Reduce total number of tickets if possible.
- Simplify cash payments by picking pricing in $20 increments.

[2016-04-22 05:05] irabinovitch opened #193 "Update SCALE Planning List settings to be user friendly"
SCALE Planning is currently setup such that FROM headers are stripped to work around issues with DMARC. It is also setup to send messages from non-members to /dev/null without notification that their email was discarded or moderated.  These settings are not user friendly and stifle participation on the list.

Requirements:
- List members should be able to join with any email address they choose re

[2016-04-22 05:12] irabinovitch opened #194 "Migrate Systems from ActUSA"
ActUSA's sponsorship of SCALE related infrastructure will end on June 30th.  After this date a monthly fee will apply.

This ticket is to track the work needed to move the following SCALE systems from ActUSA to an alternate provider:

- [x] Email
- [x] Mailing Lists
- [x] SCALE website
- [x] LinuxFests.org website
- [x] registration systems
- [x] VOIP Services
- [ ] Wiki

LinuxFests will handle tr

[2016-04-22 05:14] irabinovitch opened #195 "Announce SCALE 2017 Dates and CFP"
Lets announce the SCALE 2017 dates and CFP during May.

Initial website at:
https://www.socallinuxexpo.org/scale/15x/

[2016-04-22 05:16] irabinovitch opened #196 "Procure SCALE related domains"

[2016-04-22 05:19] irabinovitch opened #197 "Document Existing SCALE Hosted Infrastructure"
Arrange for a meeting either online or in person between 2-3 SCALE-Tech members and Stu Sheldon to review and document the existing Web/Email/VoIP infrastructure.

Requirements:
- At least 2 current members of the tech team should be present.
- All notes should be published either in the SCALE wiki or another public platform.
- Configurations, scripts, tools, etc should be checked into source cont

[2016-04-22 05:20] irabinovitch opened #198 "Document SCALE onsite network at Pasadena Convention Center"
Arrange for a meeting either online or in person between 2-3 SCALE-Tech members and Stu Sheldon to review and document the SCALE network infrastructure and configuration.

Requirements:
- At least 2 current members of the tech team should be present.
- All notes should be published either in the SCALE wiki or another public platform.
- Any configurations, scripts, tools, etc received should be che

[2016-04-22 05:21] irabinovitch opened #199 "Ensure all SCALE Email Lists are publicly advertised"
There are a number of SCALE related email lists that are not visible on lists.linuxfests.org as they are configured to be private. Even if the lists must remain member only, their existence should be publicized so that interested parties can apply to join them.

[2016-04-22 05:22] irabinovitch opened #200 "Document and publish definition of a SCALE-Chair"
Some teams have raised questions about the role of a Committee Chair. The SCALE Chairs have asked that we document the role and include its roles/responsibilities publicly.

[2016-04-22 07:18] irabinovitch commented on #199
All active lists should now be public at:
https://lists.linuxfests.org/cgi-bin/mailman/listinfo

[2016-04-22 07:18] #199 closed

[2016-04-25 01:11] rgolan commented on #190
I've pushed changes to the production site to allow creation of new 15x presentations. Should I disable it now for the Speaker role. It would be good to do a little testing.

[2016-05-06 04:20] irabinovitch commented on #194
@jhoblitt  and @hriday and Ev met with Stu today and got some brain dumps.  @jhoblitt is currently conducting discovery on what is running on the servers.

[2016-05-06 04:20] jhoblitt opened #201 "slack karma-bot"

[2016-05-06 04:25] irabinovitch opened #202 "Decide on User Auth"
Hi @rgolan,

As part of #194  we're trying to identify what needs to be migrated to our new hosting provider when the time comes.  At the moment Drupal appears to use LDAP to authenticate some users, and local auth for others.

LDAP today is used for mail, wiki, and drupal.  Mail is moving to gmail and no longe requires ldap.  Wiki is TBD but can likely adapt to whatever we choose for Drupal, etc.

[2016-05-06 04:28] jhoblitt opened #203 "DNS migration"
Needs to be relocated away from Actusa servers. @irabinovitch appears to control the domain and presumably can change the SOA servers.  The current interum plan is to import the bind zone files directly into route53.

[2016-05-06 04:29] irabinovitch commented on #197
@jhoblitt  and @hriday had this meeting with Stu and Ev today.  I dont believe we got a recording, but notes were sent to tech@

[2016-05-06 04:30] jhoblitt opened #204 "VOIP Migration"
Migrate away from self hosted asterisk instance on `scale-voip.actusa.net`.  Options need to be evaluated including using the current upstream sip trunk providers hosted pbx service.

[2016-05-06 04:33] irabinovitch opened #205 "Migrate scale-announce"
SCALE-Announce is currently powered by PHPList and runs on mail.linuxfests.org which run on ActUSA infrastructure.  As part of #194 we need to move this as well.  @lcafiero  has mentioned not being a fan of the UX/UI for PHPList and asked if there are other tools we can consider.

SCALE-Announce previously was powered by mailman.  Due to the size of the list mailman was choking on announcements.

[2016-05-06 04:47] irabinovitch commented on #204
Our SIP provider at the moment is Teliax it terminates at scale-voip.actusa.net, which runs asterisk.
That system in turn offers an IVR and voice mail services for SCALE team members who request it.  Calls are either forwarded to their cel phones or to a SIP device if it is connected.

There is presently only 1 user (Doug Widman) who occasionally uses the SIP semi-actively. Everyone else just lets

[2016-05-06 04:49] irabinovitch commented on #205
Other LinuxFests events are presently using various hosted services, but these are not open source:

- MadMimi (donated to TXLF)
- MailChimp (paid for by DevOpsDays SV)

[2016-05-06 15:52] jhoblitt commented on #202
Re: wikis.  I am actually a fan of using https://github.com/gollum/gollum in a git repo.  This is what github's per repo wikis are built on and it also (or did as of a couple of years ago) works with bitbucket's wikis.  Gollum can be started as a http server on the loopback address without any external setup and even has reasonable search functionality.

I have not looked at what a migration would

[2016-05-06 15:59] jhoblitt commented on #205
I think relying bulk email via Gapps would be asking for trouble.  See: https://support.google.com/a/answer/166852?hl=en

If we don't move to a fully managed solution, I think should seriously consider using a relying service such as https://aws.amazon.com/ses/, https://www.mailgun.com/, or http://mandrill.com/.

[2016-05-06 23:16] irabinovitch commented on #203
Josh pushed up our DNS zones to route53. You can find details in https://github.com/socallinuxexpo/scale-dns

We've cutover socallinuxexpo.com/net and linuxfests.com/net without issue so far.   We will leave .org for migration this weekend.

[2016-05-06 23:19] irabinovitch opened #206 "Update Tech Contact on all domains"
Currently the billing and tech contacts are on our domains are:

Billing/Owner: Ilan Rabinovitch ilan@linuxfests.org
Tech: Stu Sheldon, ActUSA (stu@actusa.net)

Lets identify the new tech contact and update.

[2016-05-08 01:29] jhoblitt opened #207 "disband scale-tech github org"
Per @irabinovitch, scale is disbanding the per commitee github orgs.  The `scale-tech` owners are @socallinuxexpo-org @stu-actusa-net .

/cc @hriday @irabinovitch

[2016-05-08 23:29] irabinovitch commented on #203
DNS migration is complete. All domains are on Route53 for primary DNS now.

[2016-05-08 23:29] #203 closed

[2016-05-08 23:34] irabinovitch commented on #206
Completed.

[2016-05-08 23:34] #206 closed

[2016-05-09 08:44] davidelang commented on #207
what is going to happen to the data currently in scale-tech?

[2016-05-09 09:55] irabinovitch commented on #207
@davidelang What data do you believe is presently in scale-tech?

[2016-05-09 15:31] jhoblitt commented on #207
There are 6 repos in the org.

These repos are empty:

* https://github.com/scale-tech/network-monitoring
* https://github.com/scale-tech/wireless
* https://github.com/scale-tech/scale-selfreg

This repo has only a list of the other repos:

https://github.com/scale-tech/repo-list

These two repos should be transferred to the socallinuxexpo org, if they need to be preserved:

https://github.com/sca

[2016-05-09 15:43] irabinovitch commented on #207
stu-tools has been at https://github.com/socallinuxexpo/stu-tools since 2012.

scale-signs was migrated to https://github.com/socallinuxexpo/scale-signs

[2016-05-09 16:07] jhoblitt commented on #207
My vote is for summary execution.

[2016-05-09 16:24] jhoblitt opened #208 "migrate LDAP?"
LDAP *was* being used for mail, drupal, mediawiki and shell accounts.  Mail has been migrated to Gapps and the decision has been made to remove it from drupal (https://github.com/socallinuxexpo/scale-drupal/issues/1).

Are we going to migrate preserve mediawiki or migrate to a different wiki system?  Do we want to conitnue to use ldap for shell accounts or can we live with an alternative, such as

[2016-05-09 16:28] irabinovitch commented on #208
A correction: LDAP was only used for shell accounts on (1) host. The remaining VMs seemed to have a shared root account.

[2016-05-09 16:43] irabinovitch commented on #208
I dont see any reason to bring it along.   If we're looking to manage access to systems, creating users and deploying their keys via our chosen config management system seems easier than maintaining more ldap.

[2016-05-09 16:50] jaymzh commented on #208
for shell accounts I don't see a reason... but there is a benefit for things like wiki and site other internal logins. I don't know much about a lot MW or other things but if there's a an easy way to generate their login creds from something like Chef, I'm all for that.

[2016-05-09 16:51] jaymzh commented on #207
:+1: unless @davidelang knows of something we're missing.

[2016-05-09 17:52] jhoblitt commented on #208
For a small number of admin users, say < 10, I think CM will be significantly less hassle.  For general users, it starts to hurt as the user can't change password hashes or ssh keys themselves.

[2016-05-09 17:53] davidelang commented on #207
It sounds like you have now migrated everything.

[2016-05-09 18:13] jhoblitt opened #209 "define CDN requirements"
@jhoblitt's minimal list:

Requirements
--

- complete reverse proxy functionality (easy initial setup)
- customer supplied TLS certs
- manual (API/cli) cache expiration
- ipv4/v6 connectivity

Nice to haves
--

- raw log exporting (eg, to an s3 bucket)
- metric service integration (new relic, datadog, etc.)

/cc @irabinovitch @hriday @jaymzh

[2016-05-09 18:33] socallinuxexpo-org commented on #207
Can you check and see if there's anything we need there?

On Mon, May 9, 2016 at 11:53 AM, davidelang <notifications@github.com>
wrote:

[2016-05-09 18:42] irabinovitch commented on #207
@socallinuxexpo-org its good to kill. Can we either delete the socallinuxexpo-org  use or transfer it to someone still with the org?

[2016-05-09 18:50] irabinovitch commented on #208
@jaymzh Most of the systems we use have the ability to do Oauth or Google Auth.  My initial thought would be to just re-use those credentials since we have them.

Eg the following tools we're using support Oauth or Gauth:
- Email
- Drupal
- Slack
- Datadog (we have an account, we can come back to whether we stick with it later)
- MediaWiki (although I'm hoping we'll find an alternate solution)

[2016-05-09 19:57] jhoblitt opened #210 "basic [external] up/down monitoring"
We desperately need basic up/down monitoring with some sort of team visibility.  I think a slack channel for notifications would be more useful then a dashboard.

Obvious, simple checks:
- icmp echo
- http status
- https status + cert validity
- key dns records
- whois info (including registration expiration)

/cc @socallinuxexpo/infra

[2016-05-09 20:07] jhoblitt opened #211 "cleanup stale DNS records"
After the migration away from ActUSA is completed, it would be a good idea to audit and cleanup unnecessary DNS records.

/cc @socallinuxexpo/infra

[2016-05-09 21:35] irabinovitch commented on #210
New Relic has donated a synthetics account for our use.  Datadog has done the  same for infra monitoring

[2016-05-10 08:10] irabinovitch commented on #211
First pass over at https://github.com/socallinuxexpo/scale-dns/pull/7

[2016-05-10 08:12] irabinovitch commented on #209
Confirmed with Fastly that we'd quality for https://www.fastly.com/open-source

Since 90% of our content is served from Drupal it probably makes sense to require that there be an out of the box Drupal plugin to handle cache purges.

[2016-05-10 08:15] irabinovitch commented on #204
I've reached out to most of the folks with extensions and they dont see to actively be using them. So the main purpose of voip at this point is to offer a customer service number to tie to our merchant account,  and the sponsorship calls I get year round.

With that in mind, Id probably be the only person impacted by the extension change.

I'll leave it till the end of the week for objections, and

[2016-05-10 08:34] irabinovitch commented on #194
Lei has given the go ahead to shutdown SCALEreg. We just need to give him a VM where ever we end up, ideally before June 1st so he can launch registration for SCALE 15x.

[2016-05-10 08:36] irabinovitch commented on #194
Email migration to Google Apps/GMAIL was completed over the weekend.

[2016-05-10 08:37] irabinovitch commented on #194
Took an initial stab at migrating our wiki content to github's wiki system at https://github.com/socallinuxexpo/scale-wiki/wiki

Links between pages and some of the formatting are broken, but is probably enough for the historical data/background we need, and we can start fresh either here on github or elsewhere..

[2016-05-10 14:53] efbatey commented on #204
Seems trivial to run Trix on a local machine.. been doing so 4 to 5 years.  Trunk is $3/month Voipstreet

[2016-05-10 14:54] efbatey commented on #204
It made a pretty handy re-routable help desk number for the shows ..

[2016-05-15 19:26] irabinovitch commented on #207
The last repos from scale-av (big brother scripts) has been transferred to the socallinuxexpo org.
Confirmed that the remaining repos in scale-tech were either empty or stale copies of repos that are active in socallinuxexpo.  As such both scale-tech and scale-av have been deleted.

[2016-05-15 19:31] #207 closed

[2016-05-23 18:02] irabinovitch opened #212 "renew linuxfests.org ssl certificate"
Our SSL certs expire on 6/23 and need to be renewed or replaced.

[2016-05-23 20:06] rgolan commented on #212
My company has been using ssls.com <http://ssls.com/> and getting the 3 year Comodo SSL certs for $5/year. No problems with them.

—
Ron Golan
rgolan@superconcentrated.com

[2016-05-23 21:12] irabinovitch commented on #212
We've historically used GoDaddy. I dont have a preference either way, as long as we can either do a multihostname cert or a wildcard cert.

[2016-05-23 21:33] rgolan commented on #212
Godaddy will cost more. I think ssls.com <http://ssls.com/> has wildcards for about $85./year.

--
Ron Golan
ron@rgon.us

[2016-05-23 22:38] hriday commented on #212
How about the EFF backed site : https://letsencrypt.org

It has an attractive price as well.

On Mon, May 23, 2016 at 3:33 PM, Ron Golan <notifications@github.com> wrote:

[2016-05-23 22:45] irabinovitch commented on #212
LetsEncrypt isn't really meant for our use case.  They dont support wildcards or multiple hostnames.  $100~ a year isn't unreasonable for our use.

[2016-05-24 01:57] irabinovitch commented on #192
From @leizleiz:

I'd like to propose the following ticket changes for SCALE 15X. Some of this was already discussed, and some bits are being proposed just now:

- Expo Pass: $20
- Foo Limited Pass: $20 + Foo event fee of ($0 to whatever)
- Bar Limited Pass: $20 + Bar event fee of ($0 to whatever)
- SCALE Pass (early): $75
- SCALE Pass (normal): $85
- SCALE Pass (late): $90
- SCALE Pass (cash): $10

[2016-05-24 01:58] irabinovitch commented on #192
You can see a mock up of this pricing at: http://leiz.org/scale/tickets.html

[2016-05-25 16:23] lcafiero commented on #194
As far as the mailing list is concerned, I don't mind wrangling with PHPList if there are no FOSS alternatives. I think it's important that if we do have a mailing list, it should be FOSS-based -- walking the walk as we talk the talk.

That said, if we stay with PHPList, I should mention that my knowledge of PHPList is rudimentary at best -- I can send emails, monitor and amend bounces where neces

[2016-06-05 23:52] irabinovitch commented on #205
Lets focus on the specific software to use.  The MTA is something we can revisit once we have this in place.

[2016-06-06 00:58] irabinovitch commented on #164
@sbibayoff  should we create a repo for this here?

[2016-06-06 01:21] irabinovitch commented on #204
I dont believe we're looking to revive the help desk at this point, but we do no need a phone number for sponsors and for a customer service line for our merchant accounts used for registration.  We've setup a new PBX on Teliax IVY.  The main drawback here is that we had to change everyone's extensions.

Right now it's using my voice since nobody else volunteered to be the voice of the menu.  I've

[2016-06-06 04:56] irabinovitch opened #213 "migrate discussion lists"
Migrate the mailman services running on lists.linuxfests.org from ActUSA to another provider as per #194 .  If we stick with mailman it must be version 2.1.20+ to support #193. The current release as of April is 2.1.22.

[2016-06-06 04:58] irabinovitch commented on #213
@jhoblitt @jaymzh Started on some recipes for this, but Centos7 only includes Mailman 2.1.15 which is fairly old and doesn't include user-friendly DMARC handling.

Do we want to grab the source install? Build our own packages? other options/ideas?

[2016-06-06 05:12] irabinovitch commented on #212
Reviewing the certs we have:

1. www.linuxfests.org (additional hostnames included linuxfests.org, lists.linuxfests.org, mail.linuxfests.org) - expires 6/23
2. www.socallinuxexpo.org (additional host names included are socallinuxexpo.org,wiki.socallinuxexpo.org, reg.socallinuxexpo.org,helpdesk.socallinuxexpo.org).  - expires end of August.
3.  register.linuxfests.org (additional hostnames included

[2016-06-06 05:13] irabinovitch commented on #198
@hriday Did we get any notes during the meeting with Stu?

[2016-06-06 05:13] irabinovitch commented on #197
@hriday  @jhoblitt are we comfortable calling this closed at this point?

[2016-06-06 05:13] irabinovitch commented on #196
@hriday any luck on this one?

[2016-06-06 05:13] irabinovitch commented on #195
Currently planning to launch in June.

[2016-06-06 13:38] jhoblitt commented on #197
Are we going to consider the google sheets migration notes the official production documentation?

[2016-06-06 13:54] jhoblitt commented on #213
Wow, the mailman package is part of `base`, which is why it isn't being updated. I haven't run a mailman install since before 2010 and the start of the python3 conversion.   Typically, if I need a newer version of an existing base or epel7 package, I will first check copr and then fall back to attempting to modify the `.spec` in the official srpm.

I checked copr for mailman and didn't see anythin

[2016-06-06 14:01] jhoblitt commented on #213
The fedpkg version is 2.1.21.  There are often rpm macro changes before current fedora and el7 but some times it is easier to backport than updating an older spec file.

[2016-06-06 14:27] jhoblitt commented on #213
**Completely untested**

fedora rawhide package built for epel7.

https://www.dropbox.com/s/pwczzx8mcudftbn/mailman-2.1.21-1.el7.centos.x86_64.rpm?dl=0

[2016-06-06 15:17] hriday commented on #198
Regarding the on site router configs, Stu says that it was all dynamic, and
there's no backup. We probably can get some physical layer diagrams, but
the show floor will have to be redesigned from scratch.

On Sun, Jun 5, 2016 at 11:13 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

[2016-06-06 15:49] hriday commented on #196
GG is selling them to us for the price of the renewal (he just renewed for
a year) + what it cost to buy them. He'll send us the deets soon.

H.

On Sun, Jun 5, 2016 at 11:13 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

[2016-06-06 16:35] irabinovitch commented on #197
Of the legacy environment sure.  Of the new stuff, it looks like docs are going along side the code to build it.

[2016-06-06 17:19] irabinovitch commented on #213
@jhoblitt checkout the mailman branch on scale-chef.  The rawhide package seemed to work on Centos7 without rebuilding, but happy to use yours if we think thats a better option.

[2016-06-20 04:00] irabinovitch commented on #211
Going to call this done.

[2016-06-20 04:00] #211 closed

[2016-06-23 20:44] irabinovitch commented on #212
I'm not going to renew the linuxfests.org cert at this time.  Nothing critical is using it, and we're mid migration/shutdown on most of those services.

[2016-06-23 20:44] #212 closed

[2016-06-26 04:29] irabinovitch commented on #208
Closing this as we've decided not to migrate LDAP at this point.

[2016-06-26 04:29] #208 closed

[2016-06-26 04:30] irabinovitch commented on #192
Did anyone have any feedback on this one?

[2016-06-27 08:59] irabinovitch commented on #205
Got 0 feedback on alternate software, so I've proceeded to migrate phplist and mailman. See the open prs in scale-chef.

[2016-06-28 15:48] irabinovitch commented on #205
calling this done.  although its not completely done until we update the DNS for lists.linuxfests.org

[2016-06-28 16:00] #204 closed

[2016-06-28 16:00] irabinovitch commented on #204
Confirmed numbers were rerouted

[2016-06-28 17:49] efbatey commented on #204
I was #213, I believe.  Don't know if I remain relevant.  If I have an
extension, pls, advise.  R / Everett

On Tue, Jun 28, 2016 at 9:00 AM, Ilan Rabinovitch <notifications@github.com>
wrote:

--
 R/  Everett Batey / Skype: wa6cre-10 / efbatey@gmail.com
  or efbarc@cotdazr.org or wa6cre@rabbitradio.org or lioneverett@gmail.com
   Auxiliary Lions 4-A3 Web  Lions 4-A3 Calendar  /
http://lions.vhwy.

[2016-06-29 01:33] irabinovitch commented on #204
@efbatey Thanks. You are correct. You did offer up trixbox. At this point, you dont have an extension, but if you'd like one please let us know where you'd like your calls forwarded.

[2016-06-29 05:52] irabinovitch commented on #187
Assigning to Shyam Kapadia.

[2016-06-30 23:14] irabinovitch commented on #213
I believe this is now complete.

[2016-06-30 23:14] #213 closed

[2016-06-30 23:30] irabinovitch commented on #205
DNS updated.

[2016-06-30 23:30] #205 closed

[2016-07-02 20:25] irabinovitch opened #214 "Record new welcome message for scale phone line"
Lets record a new welcome message and menu for the SCALE phone line (877-831-2569).  Our provider Teliax will take most formats, but MP3 or AAC seemed to work best.

[2016-07-02 21:00] irabinovitch commented on #214
You can hear the current message 877-831-2569

Current Scripts are

Recording 1: Welcome Message
====
Thank you for calling SCALE and LinuxFests. If you know the extension of the party you wish to reach you may dial it at any time. For non-profit and commercial exhibitor opportunities press 1,  for public relations press 2, for accounting press 3. For general show information press 8, or to send a

[2016-07-02 23:42] irabinovitch opened #215 "link to call for papers from scale15x home page"
@rgolan Lets link to call for papers from scale15x home page.

[2016-07-02 23:43] irabinovitch opened #216 "Updates for SCALE 15x Call for papers"
The following should be removed from the topic list:

New to SCALE
Hot Applications

And the following should be added:
Open Data
Open Source in Enterprises
Open Source Storage

[2016-07-02 23:44] irabinovitch commented on #216
Also lets hide the following options until they're confirmed for SCALE 15x

Apache Bigtop
Beginners Tutorial
Ubucon
Postgres
Puppet

[2016-07-02 23:45] irabinovitch commented on #216
New CFP text here: [scale15x.pdf](https://github.com/socallinuxexpo/SCALE-Planning/files/344789/scale15x.pdf)

[2016-07-03 03:21] rgolan commented on #215
Do you want this link and CFP page to go live now?

[2016-07-03 03:48] shyamkapadia commented on #215
Yes please...

On Sat, Jul 2, 2016 at 8:21 PM, Ron Golan <notifications@github.com> wrote:

--
Regards,
Shyam Kapadia
Speakers Chair
Southern California Linux Expo (SCALE)
http://www.socallinuxexpo.org

[2016-07-03 03:52] rgolan commented on #216
I have modified the topic list as requested and created a new CFP page at /scale/15x/cfp.

I noticed that Git on prod says it's ahead of origin/master by 5 commits. I don't know how that is possible and what those commits are. When I just tried to pull my changes on production it created a merge commit. Could you please look into this?

[2016-07-03 03:57] rgolan commented on #215
I just added the link to the page at http://www.socallinuxexpo.org/scale/15x/ <http://www.socallinuxexpo.org/scale/15x/>

We still don’t have a working redirect from non-www to www for the site.

—
Ron Golan
rgolan@superconcentrated.com

[2016-07-03 03:59] irabinovitch commented on #216
Checking.

[2016-07-03 04:04] shyamkapadia commented on #216
Noticing a few formatting errors:

1]  These should all be individual bullets

   - Open Source Productivity Applications • Open Source Multimedia and
   Gaming • Tools for Profiling and Performance Tuning
   - Open Source Animation Tools • Open Source Promotion and Adoption:
   Current State

2] A few places there are un-necessary hifens like:

Next Generation - This gives the Free and Open Sourc

[2016-07-03 04:05] shyamkapadia commented on #216
One more under Topics of Interest:

   - In-depth Programming/Scripting with Open Source Languages (Examples*
   in- clude* Perl, Ruby, Python, Shell-programming etc.)

On Sat, Jul 2, 2016 at 9:03 PM, Shyam Kapadia <shyamkapadia@gmail.com>
wrote:

--
Regards,
Shyam Kapadia
Speakers Chair
Southern California Linux Expo (SCALE)
http://www.socallinuxexpo.org

[2016-07-03 04:13] rgolan commented on #216
I think all those are fixed now. The PDF file is problem for copying and pasting without incorrect styling. A plain text file is better.

—
Ron Golan
rgolan@superconcentrated.com

[2016-07-03 04:14] irabinovitch commented on #216
@rgolan the git issues you mentioned earlier are fixed.

[2016-07-03 04:15] rgolan commented on #216
Thanks!

[2016-07-03 04:15] irabinovitch commented on #216
@rgolan Is it possible to change the logo at the top of the page?

[2016-07-03 04:20] rgolan commented on #216
I just changed the default theme to the 15x one. Pages without the 14x in the path will now show the 15x theme.

[2016-07-05 21:06] rgolan commented on #215
http://socallinuxexpo.org on Firefox gives an Apache Testing 1..2..3.. page.

[2016-07-05 21:30] irabinovitch commented on #215
Should be fixed in https://github.com/socallinuxexpo/scale-chef/commit/6828bb8929b95150d5466c121edf1ea52e6b3dde

[2016-07-18 02:52] davidelang commented on #192
this hardly seems like a simplification

[2016-07-18 03:09] jillr commented on #192
I agree with davidelang.  It's unclear to me how registration for multiple events would work.  If I want a SCALE pass and Ubucon for example, would those need to be separate transactions in the reg system or are colocated events "add-ons" to SCALE reg?  Also, have we solicited feedback from the usual collocated events?

[2016-07-18 05:35] irabinovitch commented on #216
thanks Ron. Closing.

[2016-07-18 05:35] #216 closed

[2016-07-18 05:41] irabinovitch commented on #210
We're monitoring the following now:
* http and https status are both being monitored by Datadog and New Relic Synthetics.  This includes cert validity.
* Via Datadog we're monitoring DNS resolution on www.socallinuxexpo.org and lists.linuxfests.org. Are there other hostnames to monitor? If so, you can see examples of how to add more [here](https://github.com/socallinuxexpo/scale-chef/blob/master/c

[2016-07-18 05:44] irabinovitch commented on #202
We didn't migrate LDAP.  So far I think everything but drupal is authenticating against Google Auth.  Anything else we want to do here?

[2016-07-18 05:44] irabinovitch commented on #196
@hriday any updates from Gareth?

[2016-07-18 05:45] irabinovitch commented on #194
All systems are now considered migrated as ActUSA has shut down our systems.

[2016-07-18 05:45] #194 closed

[2016-07-18 05:46] irabinovitch commented on #190
We've announced on social media. Pending task is to announce on scale-announce.

@lcafiero Can we find sometime this week to 1) test phplist works properly post migration 2) agree on text?

[2016-07-18 05:46] irabinovitch commented on #189
@shyamkapadia any luck on this one? you said you had someone in mind?

[2016-07-18 05:46] irabinovitch commented on #164
@sbibayoff  ping?

[2016-07-18 05:48] irabinovitch commented on #119
Looks like we're having this issue for SCALE 14x content now. Both SCALE 13x and SCALE 14x pages now show SCALE 15x in the title.

My question is can  we dynamically generate the title based on the URL (eg if its /scale14x/ it should show SCALE 14x in the title). Otherwise should we start staticing the old sites again?

[2016-07-18 05:49] irabinovitch opened #217 "provision new SCALEReg server"
We need to provision a new server for SCALE Reg. @leizleiz  let us know when you're ready for this and what you need.  We've generally been migrating from Debian to Centos. Is that ok for you?

[2016-07-18 16:38] rgolan commented on #119
I'm pretty sure I can make it act like 13x did when 14x was current. Are you sure the 13x pages, other than user pages, are showing the 15x head title?

[2016-07-18 16:39] mrsiltanen commented on #192
1) I REALLY LIKE the discounted pass idea for Sunday, imho it is critical we keep Sunday a strong and vibrant day.

2) Does the discount codes apply to all these??

3) Confusion about what is covered in the costs often is a question of alignment / clarification on the website, the schedule, and ticket registration page.
imho it is often takes more work to determine what requires additional registr

[2016-07-19 00:24] irabinovitch commented on #192
@jillr This confusion is in part one of the issues we're trying to address. In the past it's been unclear because groups like UbuCon and PuppetCamp have run their own events outside of SCALE registration. Sometimes these were free, sometimes they were paid. This left attendees confused as to what was included in their passes and whether or not they had to pay for SCALE and the other event.  Do you

[2016-07-19 00:25] irabinovitch commented on #192
In terms of Sunday only passes, I'm generally opposed to 1 day tickets.  Sunday only *might* be ok in that Sunday is low traffic and we'd only allow purchasing of it the day of in cash if I'm reading this correctly?

[2016-07-19 00:35] davidelang commented on #192
On Mon, 18 Jul 2016, Ilan Rabinovitch wrote:

I think the obvious thing is that if Scale is hosting it, you have to pay the
Scale registration. If an event wants to collect money above and beyond that, it
would be a separate fee.

Anyone who is there has access to the 'standard' scale events/talks, and we
should discourage extra fee sub-events, but support them if it's appropriate to
the Scale mis

[2016-07-19 00:35] jillr commented on #192
@irabinovitch A single-select SCALE registration option (Full, Sunday-only, expo-only, etc) and then a set of multi-select 'add-on' (or some similar verbiage) Partner (or maybe Community?) events.  So I might pick Full SCALE Reg then add-on PuppetCamp and DevOps Day.  Then they would all be line-item'ed on my one registration receipt, either at $0.00 or $some_money.  This would also help people th

[2016-07-19 00:45] davidelang commented on #192
On Mon, 18 Jul 2016, Jill R wrote:

I'm not sure we should encourage/support this.

If the attendees of an event are not going to be allowed to participate in
anything Scale related, why hold it the same place the same day?

There should not be a lot of paid add-ons, and there should be an upper limit to
the cost (a 'gold pass' so to speak) that lets someone wander in and out of
anything. they are

[2016-07-19 00:45] jillr commented on #192
I would also note, as an attendee I've never found too much confusion in registering for cohabiting events separately, and do think there's merit in letting those events continue to handle their own registration (and therefore attendee lists, fees, updates/communications to registrants, etc) but if we were to move forward with collapsing registration for everything into scale reg, those would be m

[2016-07-19 00:47] irabinovitch commented on #192
@jillr I think we generally to just get rid of the "no SCALE option" and have all the reg run through SCALE.  And ya I dont know how to represent it all on a badge yet. Ill defer to @leizleiz and @ScislaC on that once we figure out the levels we want to offer

[2016-07-19 00:49] irabinovitch commented on #192
@davidelang Thanks for the feedback David, but given we let other groups run events at SCALE we can't always control their costs or what the upper limits are.  Eg we have to charge extra to track CLE credits for attorney's "gold" pass or otherwise.

[2016-07-19 00:50] jillr commented on #192
@irabinovitch gotcha.  For clarity, what are the (recent, historical) paid addons?  I know Elastic has done paid training, and the Legal, but I can't think anything else offhand.  So how would this affect things like 'vendors offering paid training/certifications onsite'?  Those would now need to go thru scale reg and that's the crux of the change?

[2016-07-19 00:51] davidelang commented on #192
On Mon, 18 Jul 2016, Ilan Rabinovitch wrote:

official credits for various purposes are one valid exception to the 'gold pass'
cap, but they also don't need to be represented on the badge in any way.

David Lang

[2016-07-19 00:52] davidelang commented on #192
On Mon, 18 Jul 2016, Ilan Rabinovitch wrote:

I also think it should be possible to take the class and not get the CLE (or
whatever) credits, and get a discounted price.

David Lang

[2016-07-19 00:56] jillr commented on #192
Assuming colocated events that are paid (like trainings) even all agreed to pass their payments through the SCALE system (and I'd assume some wouldn't), that also means SCALE has inserted itself into the process for refunds/disputes for these events.  And has taken on a great deal more accounting.  Is a single reg system for all events worth that trade off?

[2016-07-19 00:58] mrsiltanen commented on #192
Hi,
I'd like to see as much as possible included in the FULL SCALE pass.

Remember we do not currently have door people ( volunteers or otherwise ) checking passes for the various rooms, which I think makes our event friendlier than other events. ( and saves on some big headaches I have seen in other events )

Thank YouMatti

    On Monday, July 18, 2016 5:50 PM, Jill R <notifications@github.com>

[2016-07-19 01:00] irabinovitch commented on #192
On Mon, Jul 18, 2016 at 5:52 PM, davidelang <notifications@github.com>
wrote:

Thats under discussion with the CA bar association.  Different discussion
for a different day.

[2016-07-19 01:00] irabinovitch commented on #192
On Mon, Jul 18, 2016 at 5:58 PM, mrsiltanen <notifications@github.com>
wrote:

We've generally followed an honor system, and I dont see this changing
anytime soon.

[2016-07-19 02:43] irabinovitch commented on #119
Looks like its just user pages again.

[2016-07-19 03:34] rgolan commented on #119
I modified the 14x theme to fix the head titles. It should be good now. Please review.

[2016-07-19 05:46] irabinovitch commented on #119
Working as expected now. Thanks!

[2016-07-19 05:46] #119 closed

[2016-07-19 05:50] leizleiz commented on #217
Probably? If we do Centos, then we'll have to play with the alternative install methods listed in [6] and see what works best for us. Detailed thoughts below.

Scalereg is still on Django 1.4, which is ancient by Django standards, and no longer supported by upstream Django as of October 2015, so we probably need to port to a newer version of Django. The question is, which Linux distro best support

[2016-07-19 06:02] irabinovitch commented on #217
@leizleiz thanks for the detailed write up. You can probably be as much of the admin on this as you choose.

@jaymzh and others have been doing work to automate provisioning of our other systems in Chef. I guess its a question of if we want to take advantage of that or role your own for SCALEReg.

CC: @jaymzh @jhoblitt and @hriday  for their thoughts.

[2016-07-20 09:33] lufthans commented on #192
It's great to have all passes go through SCaLE to simplify registration for attendees.

Is there an icon we can add to denote options that include a full SCALE pass? If we had that ( or the opposite denoting when it is not included ), then we could list the SCALE pass first. Presuming that's how most people register, it's good to have it be the first option.

How will the various prices and deadli

[2016-07-25 05:17] irabinovitch commented on #217
@leizleiz Let us know what you decide and we'll get you a box. Hoping we can launch reg in early August.

[2016-07-25 06:11] sbibayoff commented on #164
Got side tracked. Will be uploading some code/plans to github and have a rough functionality in the next few weeks.

[2016-07-26 06:10] leizleiz commented on #217
@irabinovitch Let's give Centos a whirl since everything else is Centos. I'll just roll my own local Django 1.8 install and we can all keep an eye out for Django updates.

[2016-07-26 06:59] leizleiz commented on #205
Do we actually auto-subscribe attendees via some scalereg integration? I think previously we just manually added people who checked the subscribe box when registering.

[2016-07-26 07:03] leizleiz opened #218 "https://lists.linuxfests.org has a bad cert"
Visiting https://lists.linuxfests.org in several browser + OS combinations all fail with a warning message. e.g. Firefox says:

The owner of lists.linuxfests.org has configured their website improperly. To protect your information from being stolen, Firefox has not connected to this website.

lists.linuxfests.org uses an invalid security certificate. The certificate is not trusted because it is se

[2016-07-26 07:16] irabinovitch commented on #218
Ya our cert there expired. We'll get a new one soon.

[2016-07-26 07:17] irabinovitch commented on #217
OK. Ready for an instance? 4GB memory sufficient for now?

[2016-07-26 07:19] irabinovitch commented on #205
@leizleiz We previously had a cron job that would query for new registrations nightly
(eg select email from attendees where can_email=1 and date>=$LAST_EXPORT)
that would then get piped into phplist for auto subscription.

[2016-07-27 04:34] leizleiz commented on #217
Sounds good.

[2016-07-29 03:04] #193 closed

[2016-07-29 04:47] irabinovitch commented on #217
New server is online and handed of to Lei.

[2016-07-29 06:38] irabinovitch opened #219 "add postgres back to CFP"
Postgres has confirmed for 2017, lets unhide their topic on the CFP page. Thanks!

[2016-08-01 02:50] irabinovitch commented on #218
Replaced.

[2016-08-01 02:50] #218 closed

[2016-08-01 02:51] irabinovitch commented on #164
Awesome, thanks @sbibayoff

[2016-08-01 04:57] irabinovitch commented on #210
@jhoblitt ping?

[2016-08-02 00:39] irabinovitch opened #220 "identify DNS provider"
As part of our migration away from ActUSA we moved our DNS to route53.  Route53 doesn't yet respond on IPv6, although it does support AAAA records.  This was temporary as we planned to migrate to Rackspace Cloud based on their sponsorship.  Rackspace documentation suggested their DNS had IPv6 support, but once we got access it appears they also don't respond on IPv6. Similar to AWS' route53, they

[2016-08-04 02:32] irabinovitch opened #221 "SCALE 15x Promotional Artwork"
Hey @ScislaC, With SCALE 15x planning kicking off it'd be great to update our various buttons, badgers, etc for SCALE 15x.

For Twitter:
- [ ] Header photo (recommended dimensions are 1500x500 pixels)
- [ ] Profile photo (recommended dimensions are 400x400 pixels)

For Facebook:
- [x] Cover Photo (828 pixels wide by 315 pixel)

For Google:
- [ ] 940 × 235 pixels for the event page.
- [ ] 630 × 355

[2016-08-04 08:36] irabinovitch commented on #219
@rgolan can we add this one back? Thanks.

[2016-08-04 08:37] #215 closed

[2016-08-04 15:09] efbatey opened #222 "DOD/DON Blocked by Category"
No way with https, http web addresses have never been surveyed by govt contractor, thus have NO category.  Once certs settle / update,  ANYONE with DOD/DON contact may wish to have our websites assessed.  Porn makes it, technology should make it.  SCALE, best budget training in the world .. /Everett - GV - 805-616-2471 / Chat/Skype efbatey

[2016-08-04 17:14] irabinovitch commented on #222
Hi Ev, I dont understand the request.

[2016-08-07 19:40] rgolan commented on #219
I'm away right now but try to do this by tomorrow

[2016-08-08 11:54] rgolan commented on #219
PostgreSQL is now available again as a presentation topic.

[2016-08-13 00:05] irabinovitch opened #223 "Add hotels to SCALE 15x site"
Lets add room block info to the website. Reservation links to come soon.

Sheraton Pasadena  - $169/night
https://www.starwoodmeeting.com/events/start.action?id=1608155800&key=AAD6BBD
303 Cordova Street, Pasadena, CA 91101

Hilton Pasadena - $169/night
http://www.hilton.com/en/hi/groups/personalized/P/PASPHHF-SCLE-20170227/index.jhtml?WT.mc_id=POG
168 South Los Robles Avenue, Pasadena, CA 91101

[2016-08-13 00:05] irabinovitch commented on #222
@efbatey can you help clarify what we need to do here?

[2016-08-18 00:28] irabinovitch commented on #223
Updated linke for the hilton:
http://www.hilton.com/en/hi/groups/personalized/P/PASPHHF-SCLE-20170227/index.jhtml?WT.mc_id=POG

[2016-08-18 01:13] rgolan commented on #223
I guess we can add this when we turn on the 15x site. We can put the information in the Venue body or in a sidebar block on that page.

[2016-08-18 18:08] lcafiero commented on #223
On a side note, is this something we want to get out to the public in one
shot or piecemeal -- e.g., do we want to post the Hilton link without the
Sheraton or Westin links? Just wondering, because it's something that we
can promote now that there's a sort of lull in the expo schedule.

Larry

On Wed, Aug 17, 2016 at 6:13 PM, Ron Golan <notifications@github.com> wrote:

[2016-08-18 18:27] irabinovitch commented on #223
The links to the 2 hotels we plan to contract are in the ticket. I'm not expecting anything further.

[2016-08-18 18:29] irabinovitch commented on #223
@rgolan Thats more or less what i was thinking. Similar to previous years.   When do we want to start work on the new site? Would probably be good sooner rather than later, but not sure when you're back from your travels.

[2016-08-26 05:15] irabinovitch commented on #223
@rgolan when might be good to start launching the website?

[2016-08-26 12:51] rgolan commented on #223
I can turn it on this weekend.

[2016-08-27 00:33] irabinovitch commented on #223
OK. Thanks. Let me know if you need help with anything.

[2016-08-28 04:38] irabinovitch commented on #222
@efbatey poke?

[2016-08-31 02:16] rgolan commented on #223
I have added the hotel information to the 15x site but I think the Hilton entry could use more work.

https://www.socallinuxexpo.org/scale/15x/hotel-information

[2016-09-08 06:20] vapier opened #224 "make speaker Agreement And Release public"
the Agreement And Release terms are not available in any public location that i can find.  it's not that they're hidden, but they are hard to find, and you need to create an account to read them.

create an account, [login](https://www.socallinuxexpo.org/user/), then edit your profile.  scroll down and you'll see them.  can we get this posted to a public location on the socal website so they're mo

[2016-09-13 02:09] efbatey commented on #222
USN contractors Blue-something categorize big web sites which are then usually visible on navy.mil.  Until someone persuades these folks to assess and categorize the website, they are declared Blocked-by-Category.  They have no category.  Someone friendly needs to request categorization.

[2016-09-14 07:43] irabinovitch commented on #209
Our donated Fastly account has arrived @jhoblitt @jaymzh @rgolan. Let me know who needs access.

[2016-10-01 17:29] rgolan commented on #223
Has anyone reviewed the changes?

[2016-10-01 17:30] rgolan commented on #219
Closing.

[2016-10-01 17:30] #219 closed

[2016-10-02 00:28] lcafiero commented on #223
They look OK to me. I don't know if we have anything more on the Hilton.
Ilan?

On Sat, Oct 1, 2016 at 10:29 AM, Ron Golan <notifications@github.com> wrote:

[2016-10-02 05:34] irabinovitch commented on #223
Both hotels are 169.00 /night.

[2016-10-02 05:34] #223 closed

[2016-11-05 19:39] irabinovitch commented on #220
Route53 has an API, is hosted and now supports IPv6 so lets stick with them.  Rackspace presently donates our VMs, but don't support V6 for DNS. When they do we should re-open and consider moving.

CC @jaymzh

[2016-11-05 19:39] #220 closed

[2016-11-05 19:40] irabinovitch commented on #164
@sbibayoff Hope all is well. Let us know when this is up and we'll get it posted for 15x.

[2016-11-05 19:40] irabinovitch commented on #190
@lcafiero Reminder that the CFP closes on 11/15. Can we please get an email out this weekend and mid week?

[2016-11-06 23:12] lcafiero commented on #190
Yes. How do we test phplist works properly other than just making it work
(I've already sent out one message earlier this year, got the usual number
of bounces).

On Sat, Nov 5, 2016 at 12:40 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

[2016-11-06 23:33] irabinovitch commented on #190
@lcafiero We should be all set at this point.

[2016-11-06 23:35] lcafiero commented on #190
OK. Sending out an announcement tonight and midweek.

On Sun, Nov 6, 2016 at 3:33 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

[2016-11-18 07:42] irabinovitch commented on #217
@leizleiz anything left before we can close this?

[2016-11-23 05:30] leizleiz commented on #217
I think we are all good here.

[2016-11-23 05:30] #217 closed

[2016-11-28 00:30] irabinovitch opened #225 "enable sponsor and exhibitor pages"
Hey @rgolan we have a number of sponsors and exhibitors signed up. Can we start adding them?

[2016-11-28 00:47] rgolan commented on #225
Yes, go ahead and add the Sponsor nodes.

[2016-12-07 00:42] ka6sox opened #226 "Missing "Embedded" Topic in CFP search"
Ability to search for "embedded" topic is missing.

[2016-12-07 03:16] rgolan commented on #226
Hi Tom,

I enabled the Embedded topic in the filters on

https://www.socallinuxexpo.org/presentations-filtered <https://www.socallinuxexpo.org/presentations-filtered>

I think that must be the page you’re referring to.

—
Ron Golan
rgolan@superconcentrated.com

[2016-12-12 07:51] irabinovitch opened #227 "t-shirt design scale15x"
Tracking ticket for design work around the 15x t-shirts.

[2016-12-12 08:06] irabinovitch commented on #222
I think you're the only person we know in the defense space that works on SCALE as well.

[2016-12-12 08:06] irabinovitch commented on #225
@rgolan OK. I've added a few sponsors and exhibitors. Anything else need doing to show the links?

[2016-12-12 08:07] #202 closed

[2016-12-12 08:07] irabinovitch commented on #196
@hriday any idea where this stands?

[2016-12-12 08:08] irabinovitch commented on #221
@ScislaC thoughts on when we might be able to tackle these?

[2016-12-12 08:09] #195 closed

[2016-12-12 08:09] #190 closed

[2016-12-12 08:09] irabinovitch commented on #189
@shyamkapadia Did we find someone for this?

[2016-12-12 08:10] irabinovitch commented on #164
@sbibayoff we have a few other folks that'd like to help here. Can you push your code somewhere?

[2016-12-12 08:17] irabinovitch opened #228 "Banner Ads for Linux New Media Sites"
@ScislaC, Linux New Media needs ads for the following size to run on their websites:

728x90
300x250

[2016-12-12 10:14] irabinovitch opened #229 "Linux New Media Ads"
@ScislaC Our ads on LinuxNewMedia's print publications have the following due dates:

ADMIN Network & Security #37 -- materials due January 25
Linux Pro Magazine/Linux Magazine #196 -- materials due January 11
Raspberry Pi Geek #21 -- materials due December 21

[2016-12-12 17:00] shyamkapadia commented on #189
@irabinovitch: Yes Matti is looking into this..

[2016-12-12 17:04] irabinovitch commented on #189
Great. Closing. Thanks.

[2016-12-12 17:04] #189 closed

[2016-12-13 01:58] rgolan commented on #225
The sponsors and exhibitor pages should be working as well as the right sidebar view. Do you mean the sponsor and exhibitor list pages?

[2016-12-13 02:30] irabinovitch commented on #225
I see them on the CFP and talk pages, but theres no way to get to there from the home page.  We also historically had some sponsor logos on the home page.  We may just need to add links?

[2016-12-13 06:32] sbibayoff commented on #164
@irabinovitch
Just created a Scaloop branch under socallinuxexpo.

Will start pushing code this week.

I need to get in touch w/ @hriday , @leizleiz , @rgolan and/or other(?) about hooks into the registration system, would like to send out "suggestions" to people after they register, something like "Hey, there is 5 people that live within 2 miles of you, would you like to contact them to organize

[2016-12-17 05:52] leizleiz commented on #164
I can add a survey question for registration so attendees can opt-in to this, like they do with the scale-announce mailing list. It'll just be a simple checkbox. Let me know if you want the question phrased in a particular way.

[2016-12-20 09:28] sbibayoff commented on #164
@leizleiz ,

Something along the lines:
"SCaLE encourages people to use either public transportation or Car Pooling. Check here if you would like SCaLE to send you a list of attendees that are commuting from the same area as you are. You will be able to exchange any info anonymously before you give the other people your name and contact."

Should be a better way to phrase it. Need to give it more

[2016-12-20 20:17] leizleiz opened #230 "Add SCALE 15X webpages for special events"
We should bring the 15x equivalent of the following webpages online:

https://www.socallinuxexpo.org/scale/14x/events
https://www.socallinuxexpo.org/scale/14x/open-source-legal-training
https://www.socallinuxexpo.org/scale/14x/ubucon-summit
https://www.socallinuxexpo.org/scale/14x/installfest

[2016-12-20 23:59] leizleiz commented on #230
@irabinovitch added https://www.socallinuxexpo.org/scale/15x/ubucon-summit and https://www.socallinuxexpo.org/scale/15x/open-source-legal-training, but the latter still links to registration using the old sub domain.

[2016-12-21 00:30] irabinovitch commented on #230
Fixed the legal link.

[2016-12-21 00:31] irabinovitch commented on #230
@leizleiz  Events page now has content: https://www.socallinuxexpo.org/scale/15x/events

@rgolan can we link to it from somewhere ?

[2016-12-21 02:07] leizleiz commented on #164
How about just "I am interested in carpooling" with "carpooling" linked to a page that explains in detail what's going on? Your suggestion is a bit long for the registration page. See screenshot:

![reg](https://cloud.githubusercontent.com/assets/12983898/21374939/13ede6b6-c6df-11e6-8841-d37aea8131b9.png)

[2016-12-21 02:32] rgolan commented on #230
If we can get some content promoted to the front page, we can enable that and then use the content and menu links to link to those items.

[2016-12-21 17:59] irabinovitch commented on #229
@ScislaC just making sure you saw the 12/21 deadline here.

[2016-12-22 00:02] ScislaC commented on #229
@irabinovitch Who is the contact on this? I did up an ad earlier today and emailed the two advertising contacts from the RPG website, but haven't heard back (one of them bounced as the account no longer exists).

[2016-12-22 02:31] ScislaC commented on #229
@irabinovitch Reached out to Gwen, thank you!

[2016-12-22 03:04] irabinovitch opened #231 "link to hotel info from home page"
Had a few requests come in for hotel info.  Can we link to this?

http://www.socallinuxexpo.org/scale/15x/hotel-information

[2016-12-23 02:02] rgolan commented on #231
I would like to get the real home page up as the default page but I think there is no content on it yet. We just need to tag some content with scale15x and promote to front page. Then the regular menu links will be available. I'll also be able to create some left sidebar blocks if we want to really promote something.

[2016-12-23 03:12] leizleiz opened #232 "Update SCALE Facebook page for 15X"
https://www.facebook.com/socallinuxexpo/ still has a banner for SCALE 14X with 14X dates...

[2016-12-23 04:36] leizleiz opened #233 "SCALE 15X hotel page should mention taxes"
https://www.socallinuxexpo.org/scale/15x/hotel-information should says "$N + taxes" for the hotel prices to remind attendees the final cost will be higher. The hotel tax rate in Pasadena is 15%.

[2016-12-23 04:43] irabinovitch commented on #226
@ka6sox are you all set here?

[2016-12-23 04:54] irabinovitch commented on #232
Waiting on https://github.com/socallinuxexpo/SCALE-Planning/issues/221

[2016-12-23 05:22] irabinovitch commented on #231
@rgolan OK. I can flag some speakers as 'featured' for that block.  In the mean time I'm creating a registration is now open blog post.

[2016-12-23 05:28] rgolan commented on #231
Let's try to get this done tomorrow. I'm going out of town on Saturday for a week.

[2016-12-23 05:47] irabinovitch commented on #231
@rgolan ok. I'm on a plane for a good chunk of tomorrow, but I'll  try to check in regularly.

[2016-12-23 22:47] rgolan commented on #231
I switched over to the dynamic home page and the Registration is Open post is showing now.

[2016-12-24 00:14] irabinovitch commented on #233
I've added the tax info.

[2016-12-24 00:14] #233 closed

[2016-12-24 00:14] irabinovitch commented on #231
@rgolan Thanks. Will featured speakers show when I flag them?  I believe we have a number of speakers and sponsors published.  Anything we need to do to get those linked as well?

[2016-12-27 18:14] efbatey commented on #231
@irabinovitch  @rgolan  Thanks, now I can send potential guests to Scale15x.

[2016-12-28 23:57] irabinovitch commented on #232
@ScislaC  do we have anything we can use on FB?

[2016-12-28 23:57] irabinovitch commented on #230
@rgolan I think this is ready to go?

[2016-12-28 23:57] irabinovitch commented on #228
@ScislaC do we have anything we can share here?

[2016-12-28 23:57] irabinovitch commented on #226
Closing as we've not heard back and the CFP is now closed.

[2016-12-28 23:57] #226 closed

[2017-01-03 07:50] irabinovitch commented on #231
@rgolan Happy new year. Can we get those pages linked in the menu bar?

[2017-01-03 07:50] irabinovitch commented on #230
@rgolan can we add links to the special events?

[2017-01-03 07:51] irabinovitch commented on #228
@scislac ping?

[2017-01-03 07:51] irabinovitch commented on #225
Ping re:adding links.

[2017-01-03 08:02] irabinovitch commented on #229
Just a reminder that we have a few more deadlines coming up next week.

[2017-01-04 01:36] rgolan commented on #225
The logos in the right sidebar are working. Maybe you have something blocking them in your browser? I'll turn on the menu items for the list pages.

[2017-01-04 01:37] irabinovitch commented on #225
Yes, logos are there now. Just asking about the links in the menu bar. Thanks!

[2017-01-04 03:34] irabinovitch opened #234 "scalereg reports return 500 error"
Hey @leizleiz , Our registration reports page:
returning a 500 error.

[code]

Going directly to the dashboard report seems to work (https://register.socallinuxexpo.org/reports/dashboard/)

[2017-01-04 18:06] irabinovitch opened #235 "add register link to website nav bar"
We disabled the reg link at some point. Can we add it back now that registration is open?

https://register.socallinuxexpo.org/reg6/

[2017-01-04 18:35] irabinovitch opened #236 "Update dates on exhibitor page"
Exhibit Hall Hours:
Friday March 3rd 2pm - 6pm
Saturday March 4th 10am - 6pm
Sunday March 5th 10am - 2pm

[2017-01-05 00:22] irabinovitch commented on #225
@rgolan  Thanks for adding Exhibitors. Looks like we still need to add the sponsors listing somewhere? Thanks!

[2017-01-05 23:23] leizleiz commented on #225
BTW, https://www.socallinuxexpo.org/scale/15x links to https://www.socallinuxexpo.org/scale/14x/sponsor/facebook which then has no way to get back to the 15X site.

[2017-01-05 23:26] leizleiz opened #237 "Remove registration link from archived sites' navbars"
https://www.socallinuxexpo.org/scale/14x/ and older sites still have navbar links to register, which is a bit weird because one cannot register for previous SCALE events. Also, because we changed the registration website's URL this year, the old links no longer navigates to anywhere useful.

[2017-01-09 01:58] irabinovitch opened #238 "Badge Design"
@hriday  can you help add due dates and requirements here?

[2017-01-09 02:01] irabinovitch commented on #210
going to call this done. I've set it up to alert #infra in slack as well as email to @hriday, @jaymzh and I.

[2017-01-09 02:01] #210 closed

[2017-01-09 02:01] #201 closed

[2017-01-09 02:02] irabinovitch commented on #201
Ticket clean up. Doesn't look like we're doing this?

[2017-01-09 09:13] irabinovitch commented on #236
Looks to be fixed. Thanks @rgolan

[2017-01-09 09:13] #236 closed

[2017-01-09 09:14] irabinovitch commented on #235
@rgolan just making sure you saw this one. Thanks.

[2017-01-09 11:54] irabinovitch opened #239 "add speakers / presentations links to nav bar"
Lets add speakers / presentations links to the nav bar.

[2017-01-10 05:16] irabinovitch opened #240 "Storage Track not showing any talks"
I believe this page should list 3 talks right now, but shows up blank:
https://www.socallinuxexpo.org/scale/15x/track/open-source-storage

[2017-01-10 07:25] irabinovitch opened #241 "SCALE 15x Stickers"
Need to design stickers and send to sticker mule for:
 - giveaways to attendees
- floor stickers
- window/wall stickers

[2017-01-10 08:50] irabinovitch opened #242 "blog posts not showing up on home page"
This is promoted to the front page but isn't showing up there:
http://www.socallinuxexpo.org/blog/scale-14x-diversity-report

Do we have any limits in place? If thats intentional, should we add a link to the blog somewhere on the site?

[2017-01-10 18:06] SeanLeftBelow commented on #241
Could I possibly to try and get postcards to hand out to promote the con in
there?

If not, could I get a pack of stickers early so I can pass out instead?

Sean

On Mon, Jan 9, 2017 at 11:25 PM, Ilan Rabinovitch <notifications@github.com>
wrote:

--
Sean McCabe

Cell: 310-991-6281
Linkedin <http://www.linkedin.com/in/seanpmccabe> / Website
<http://ulation.com/> / Blog <http://ulation.com/blog>

[2017-01-10 18:19] irabinovitch commented on #241
Can you open a new ticket? Given 50 days left though and the other deadlines I think you'll have better luck designing it yourself.

[2017-01-10 18:29] SeanLeftBelow commented on #241
Again, I would be happy to if I had access to the assets.

Your last reply was that Josh has them but did not list how to contact Josh
or proceed from there.

On Tue, Jan 10, 2017 at 10:19 AM, Ilan Rabinovitch <notifications@github.com

--
Sean McCabe

Cell: 310-991-6281
Linkedin <http://www.linkedin.com/in/seanpmccabe> / Website
<http://ulation.com/> / Blog <http://ulation.com/blog>

[2017-01-11 06:57] irabinovitch opened #243 "Update social media links on SCALE 15x pages"
We have our social media event pages online for 2017, can we update the links in the left hand side bar? Thanks!

https://www.facebook.com/events/724245121061747/
http://lanyrd.com/2017/scale15x/
https://plus.google.com/events/c4knqev1n60ld63d596hgm7tjf4 (can you confirm if this loads for you?)

[2017-01-12 02:18] rgolan commented on #243
The google+ link works for me. I updated those 3 links on the production site.

[2017-01-12 02:24] rgolan commented on #237
I removed the Register links on the 13x and 14x sites. I think 12x is a static site.

[2017-01-12 02:32] rgolan commented on #242
I selected 15x as the SCALE event for that node. Now it's showing on the front page. We have a filter on the front page that limits content to that which is marked with the 15x SCALE event and promoted to front page.

[2017-01-12 02:53] rgolan commented on #240
I changed the taxonomy term view so it works. Not sure how it works previously. I'll clean up the presentation later but 3 talks show there now.

[2017-01-12 02:57] rgolan commented on #239
These have been added. Would you prefer they or something else is moved to the top level?

[2017-01-12 03:01] irabinovitch commented on #243
Thanks. The G+ link was intermittently 404ing for me last night.

[2017-01-12 03:01] irabinovitch commented on #242
strange pretty sure we'd done that at some point, but as long as it works, appreciate your help.

[2017-01-12 03:03] irabinovitch commented on #239
Thanks.

[2017-01-12 03:07] irabinovitch commented on #239
Thanks. My 0.02 would be to move these to the top level:

- Schedule (when available)
- Speakers
- Events
- Exhibitors

And leave the rest under information for now.  What do you think? Just seems like we hide a lot under Information right now.

[2017-01-12 03:07] irabinovitch commented on #240
Thanks.

[2017-01-14 04:25] nathanhaines commented on #214
Here are some recordings with slightly altered scripts based on the actual recording.

[scale15x-ivr.zip](https://github.com/socallinuxexpo/SCALE-Planning/files/705748/scale15x-ivr.zip)

[2017-01-15 18:28] irabinovitch commented on #241
He's on the SCALE-PR list.  But hes pretty busy with other deadlines. I'm guessing you're going to be on your own for making flyers if you need them.

[2017-01-15 18:29] irabinovitch commented on #235
This looks to be all set.

[2017-01-15 18:32] #242 closed

[2017-01-15 18:32] irabinovitch commented on #238
@hriday what is the due date on this?

[2017-01-15 18:33] irabinovitch commented on #239
@rgolan any thoughts on this?

[2017-01-15 18:33] irabinovitch commented on #222
Going to close this since theres not much we can do here.  Please re-open if we find a contact who wants to help.

[2017-01-15 18:33] #222 closed

[2017-01-15 18:34] irabinovitch commented on #164
@sbibayoff how are we looking? With SCALE coming up quickly we really need to launch this in the next week or two if we want to make it happen.

[2017-01-15 18:35] irabinovitch opened #244 "Submit SCALE 15x to local event calendars"
Lets work together to find a list of local event calendars and post SCALE, Ubucon Summit and our other events to it.  Please post here when you identify a site or post to it, so we dont duplicate.

Now celebrating its 15th year, the Southern California Linux Expo SCALE 15X is the largest Linux and Open Source Software show in North America. The four-day event -- from March 2-5, 2017, at the Pasade

[2017-01-15 23:43] leizleiz commented on #234
I fixed the reports page, but the other reports it links to aside from the dashboard are all broken still.

[2017-01-17 08:24] qayshp commented on #244
I can start pinging a few of the names on the list to see about getting SCaLE added. I'm assuming we only want to check off a box when the event is posted by the organization. Do we want to keep track of which organizations have been contacted, and by who?

[2017-01-17 16:44] #243 closed

[2017-01-17 16:45] #235 closed

[2017-01-17 16:45] irabinovitch commented on #232
Looks like this was done.

[2017-01-17 16:45] #232 closed

[2017-01-17 16:45] #231 closed

[2017-01-17 16:52] dmarti opened #245 "Dot-org booth for Mozilla?"
Any .org booths still available? Mozilla is interested in doing a booth this year (I can promise some interesting demos, including Tracking Protection in the browser and converting legacy C projects to Rust)

[2017-01-17 16:52] hriday commented on #245
Hi Don,

Yes, they are.

Bala.

On Tue, Jan 17, 2017 at 9:52 AM, Don Marti <notifications@github.com> wrote:

[2017-01-17 16:53] irabinovitch commented on #245
@dmarti happy to have you.  Can you email bala@socallinuxexpo.org or ilan@? Well get you setup.

[2017-01-17 16:55] dmarti commented on #245
Sure, I'll share Bala's info with Sandra Persing, manager of developer events. https://mozillians.org/en-US/u/spersing/

[2017-01-20 20:07] #245 closed

[2017-01-20 20:08] irabinovitch opened #246 "Slashdot Ads"
Dimensions:
• 200x90 unit

File Size:
• GIF/JPG  -   50k

Accepted File Types:
• GIF,    Animated    GIF,    JPG,    PNG,    Flash,    Javascript/HTML

Third Party:
• Tracking/Serving Accepted

Lead Times:
• Standard Image (GIF/JPG): 2 Business Days
• Flash/Rich Media: 5 Business Days
• Third Party Standard Image: 3 Business Days

[2017-01-24 02:36] rgolan commented on #239
I did what you suggested.

[2017-01-24 02:51] irabinovitch commented on #239
thanks!

[2017-01-24 02:51] #239 closed

[2017-01-24 18:58] #246 closed

[2017-01-29 22:09] irabinovitch commented on #244
@qayshp Thanks ya if you could check them off, or leave comments here that'd be great. Apologies, I had replied by email but it didn't seem to post to the ticket.

[2017-02-04 07:13] irabinovitch opened #247 "designs for reg counters"
Attached are the specs and last year's designs.

Due: Feb 14th

CC: @ScislaC

[RegUnit.pdf](https://github.com/socallinuxexpo/SCALE-Planning/files/752065/RegUnit.pdf)

[2017-02-06 03:54] ScislaC commented on #247
@irabinovitch on my calendar

[2017-02-11 00:25] #234 closed

[2017-02-11 00:25] leizleiz commented on #234
There's still other reporting brokenness as previously mentioned, but we can fix those in a separate issue.

[2017-02-13 05:50] #237 closed

[2017-02-17 02:21] irabinovitch commented on #188
@leizleiz did we publish anything?

[2017-02-17 21:19] leizleiz commented on #192
We ended up with the following for SCALE 15X:
- 3 base ticket types: Expo, SCALE, and Limited passes.
- Better explanation of what the passes are on the registration page.
- Blurb to explain promo codes generally do not apply to Expo passes and Limited passes.
- The only thing not included in the SCALE pass is the Open Source Legal Training.
- The PR team is sending out announcements before each p

[2017-02-17 21:19] #192 closed

[2017-02-17 21:19] leizleiz commented on #191
Done.

[2017-02-17 21:19] #191 closed

[2017-02-18 01:54] leizleiz commented on #188
I did on the registration page. Let me know if it needs changing.